[2014-02-04 14:53] geemus opened #1 "Remove unnecessary dependencies in gem file"
At a glance I think a lot of the dependencies and dev dependencies are just requirements of providers/services (not of fog-core itself). So we should work to slim down/simplify that.

[2014-02-04 17:35] tokengeek opened #2 "Remove Fog::XML and Fog::JSON to own gems"
Ooooo new repo!

In line with #1 we should remove the two parsing systems into their own gems, allowing `fog` to be dependent on them.

`fog-xml` (or similar) would then manage the `nokogiri` dependency and `fog-json` the `multijson` dependency.

From `fog` user perspective it shouldn't change but when providers break out into modules then they can just include the relevant one.

I _think_ this is

[2014-02-05 10:36] tokengeek opened #5 "Investigate using Virtus/ROM to replace some core code"
`fog-core` has a DSL for describing attributes on models and mapping the data responses between API responses and those attributes.

I assume @geemus added this because nothing was around that did this or it seemed a simple problem at the time.

So with the goal of cutting down on code we have to rewrite tests for (as we move away from Shindo) and balancing the new dependencies between less code t

[2014-02-07 19:24] #1 closed, assigned to nobody

[2014-02-11 17:26] tokengeek opened #9 "Out of sync with core code in `fog` already"
https://github.com/fog/fog-core/blob/master/lib/fog/core/provider.rb#L22 does not have the latest version of the interface that was just merged.

Changes in https://github.com/fog/fog/pull/1712 mean we need to sync the code again.

[2014-02-12 17:12] #9 closed, assigned to nobody

[2014-02-12 17:13] #2 closed, assigned to nobody

[2014-02-12 22:37] elight opened #12 "Migrate tests from shindo to minitest"
It's time!

[2014-02-14 10:12] tokengeek opened #15 "Release v1.21.0 is not tagged"
Yesterday's release wasn't tagged so not certain the exact code it went out with!

[2014-02-14 11:40] tokengeek opened #16 "Provider based case statements in services"
The factories for services appear to have the same problem based on a case statement around some providers.

So when `Fog::Compute[:provider]` or `Fog::Compute.new(:provider => "provider")` is called in almost all cases we require `fog/provider/service` then return a new instance of `Fog::Provider::Service`

I'm pretty sure that we can scrap most of this stuff.
- Some providers are just there but

[2014-02-15 20:33] #15 closed, assigned to geemus

[2014-02-21 15:05] mwhagedorn opened #19 "fog should allow a pluggable http access layer"
I am working on a proposed approach for this, but the idea would be much like what Faraday does, allow most providers of http client services to be wrapped.  This would remove the strong coupling that fog has to exconn (while still supporting it)

[2014-03-05 22:21] wchrisjohnson opened #22 "How to organize raw request files?"
In the openstack project, there is a folder for requests which has sub-folders for Identity, Compute, etc. Inside these service level folders, requests are stored as individual files. In many services, there are tons of requests, and they can get quite hard to slog thru to find what you need.

It would be nice to be able to organize these under subfolders, based on the operational area. For exampl

[2014-03-06 09:39] tokengeek opened #23 "Replace requires using ["path", "file"].join("/")"
`Fog::Core::Service#setup_requirements` requires files using `require [@model_path, collection].join('/')`

It should be using `File.join` to use the system based path separator not assuming "/".

At least 3 cases there. Maybe others.

[2014-03-14 16:06] icco opened #24 "Set global style guide?"
Just an idea, but I'd love if we settled on a style guide for fog-core (and the other modules as we break them off). One that works: https://github.com/styleguide/ruby

Then we could set up something like https://github.com/markstory/lint-review to try and enforce some sort of style standard. Considering the size of the repo, this could be nice.

[2014-04-04 14:23] pravi opened #35 "include tests as part of the gem release"
Almost all gems include tests in gem file itself. It makes us take github tarballs for making debian package. It would be nice if if you can ship the tests along with gem.

[2014-04-08 13:57] #35 closed, assigned to nobody

[2014-04-08 23:38] wchrisjohnson opened #36 "Need Compute namespaced properly"
We need the compute.rb file in fog to properly require and Instantiate the Compute service based on a namespace of `Fog::OpenStackCommon::Compute`.

[2014-04-08 23:39] wchrisjohnson opened #37 "Need Storage namespaces properly"
We need the storage.rb file in fog to properly require and Instantiate the Storage service based on a namespace of `Fog::OpenStackCommon::Storage`.

[2014-04-11 09:26] pravi opened #39 "file conflict between fog and fog core"
I have recently converted fog-core gem to debian's native deb format (to provide a consistent interface to users who need software written in ruby, like diaspora). We install libraries in /usr/lib/ruby/vendor_ruby/. An automatic installation program detected file conflicts between fog and fog-core https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=744010 Can each gem have their files in their own d

[2014-04-16 08:40] #12 closed, assigned to elight

[2014-04-16 08:46] tokengeek opened #42 "fog-core 1.22.0 release"
Can we get a new release of `fog-core` at v1.22.0 out please?

I'm bottlenecked by it and I believe @elight & co wanted a new `fog` release to address https://github.com/fog/fog/issues/2835

It's been about a month since the last release anyway.

[2014-04-17 19:00] #42 closed, assigned to geemus

[2014-06-03 15:58] krames opened #46 "Inconsistent Hash Access"
This issue was spurred by https://github.com/fog/fog/pull/2939.

This is certainly not the first time, I have seen downstream developers expect to use string and symbols interchangeably. Doing a quick search through issues shows [33 issues](https://github.com/fog/fog/search?q=symbol&ref=cmdform&type=Issues) have been submitted about this and something tells me there are a lot more that aren't bein

[2014-08-07 13:45] plribeiro3000 opened #67 "Some Ideas"
I did some refactor at `fog-xenserver` and i think that some of the methods i created can be migrated to here to improve another providers. One piece of code which maked some extra methods possible is this one:

[code]

I dont know in other providers but in XenServer, each request is mapped to a class in its core as represented in [citrix.com](http://docs.vmd.citrix.com/XenServer/6.2.0/1.0/en_gb/a

[2014-08-15 20:28] #67 closed, assigned to nobody

[2014-08-19 16:45] plribeiro3000 opened #72 "New Release"
@geemus We have fixed some issues and introduced all the features that i need to improve `fog-xenserver` code and tests (simple code, simple tests :smile:).

When do you plan to make a new release? Is there something missing that i can help?

BTW, Thank you for all the support and time spent to help me out making this possible.

[2014-08-22 20:40] #37 closed, assigned to elight

[2014-08-22 20:40] #36 closed, assigned to elight

[2014-08-26 14:30] #39 closed, assigned to nobody

[2014-08-26 14:38] #72 closed, assigned to nobody

[2014-09-05 15:09] tokengeek opened #79 ".rubocop.yml is not setup like `fog` repo"
https://github.com/fog/fog/blob/master/.rubocop.yml was the style guide we agreed on for the main repo (based on the [Github style guide](https://github.com/styleguide/ruby)).

That same version should be used for both and copied here.

So changing double quotes to single quotes are in fact going the wrong direction leaving inconsistent style between the two projects.

[2014-09-09 14:24] #79 closed, assigned to nobody

[2014-10-06 13:59] #23 closed, assigned to nobody

[2014-10-07 23:34] plribeiro3000 opened #89 "Fix Complexity Warnings"
@geemus Can you assign this to me please?

[2014-10-08 14:25] #24 closed, assigned to nobody

[2014-11-03 11:22] plribeiro3000 opened #92 "Add #recognizes, #requires, #readonly to model"
Original issue by @m-o-e at fog/fog#1675

[2014-11-17 20:55] plribeiro3000 opened #93 "Fog::Collection violates Array contract; calamity ensues"
See fog/fog#1973 for more info.

[2014-11-21 21:34] plribeiro3000 opened #94 "Rename Fog::Attributes `attributes` method"
See fog/fog#2368 for further details

[2014-12-02 15:50] louisnayegon opened #102 "AWS is not a class (TypeError)"
/home/bamboo.agent/.rvm/gems/ruby-1.9.3-p547/gems/fog-core-1.26.0/lib/fog/core/bin/aws.rb:1:in `<top (required)>': AWS is not a class (TypeError)
02-Dec-2014 15:45:21            from /home/bamboo.agent/.rvm/gems/ruby-1.9.3-p547/gems/fog-core-1.26.0/lib/fog/core/bin.rb:58:in`require'
02-Dec-2014 15:45:21            from /home/bamboo.agent/.rvm/gems/ruby-1.9.3-p547/gems/fog-core-1.26.0/lib/fog/core/

[2014-12-02 16:09] #102 closed, assigned to nobody

[2014-12-02 17:52] gerner opened #103 "AWS class in global namespace conflicts with other tools"
We're using elastic-mapreduce which sadly declares a module AWS in the global namespace. And I suspect there are other tools that unfortunately do this too. It looks like fog-core 1.26 introduces an AWS class in the global namepace which will cause conflicts. This change caused some issues for us when fog-core 1.26 made it to rubygems.

Can namespace your AWS class instead of leaving at the global

[2014-12-04 19:51] #103 closed, assigned to nobody

[2014-12-09 14:56] tokengeek opened #105 "`Fog::Core` Provider/Service registration"
This is work in progress specification for adding core functionality to register a provider and its services within `Fog::Core` making the register available to third party applications.

This is an expansion of https://github.com/fog/fog-core/issues/16

Goals:
- `fog` references no providers in code only dependencies. For any provider that is required, they register themselves and are available t

[2014-12-10 23:57] ghost opened #107 "lib/fog/core/collection.rb refactoring and testing"
Hello,
Currently it seems this chunk of code isn't really tested, and I'm looking for pointers on how to go about testing it. For example, if  I put `raise "Foo!"` in the Fog::Collection.inspect, all tests still pass. I started refactoring some of code collection.rb, but don't want to commit it without ensuring that it's all being tested.

[2014-12-11 22:50] #107 closed, assigned to nobody

[2014-12-18 21:38] lardcanoe opened #112 "Fog::Logger write occasionally raises Errno::EBADF"
https://github.com/fog/fog-core/blob/master/lib/fog/core/logger.rb#L38

Some small percentage of s3 operations would fail because a call to Fog:Logger would raise Errno::EBADF. (I am pretty sure the call to log is because of the path_style warning.) Note that most operations would still be fine even if they did invoke the warning; the exception wouldn't be raised and I could see the log entry. I h

[2014-12-23 10:57] #112 closed, assigned to nobody

[2015-01-13 14:57] ozroc opened #119 "Wrong number of arguments."
Seems to be related with this plugin.

[code]

[2015-01-13 15:05] plribeiro3000 commented on #119
closed by #120

[2015-01-13 15:05] #119 closed

[2015-01-14 16:45] plribeiro3000 opened #121 "undefined method `redisplay_progressbar' for Fog::Formatador:Class"
@davehatton:

Opened at fog/fog#3398

[2015-01-14 16:47] geemus commented on #121
I believe this should be closed by https://github.com/fog/fog-core/commit/58556e4b1e65d2ac8dd177c531dd8a23929d39e3

[2015-01-14 16:47] #121 closed

[2015-01-14 16:48] plribeiro3000 commented on #121
@geemus i was about to do that. =)

[2015-01-15 09:26] ozroc opened #122 "Wrong number of arguments (volume_action)"
[code]

[2015-01-15 09:39] ozroc commented on #122
Sorry, wrong repo

[2015-01-15 09:39] #122 closed

[2015-01-16 08:00] kshlm opened #123 "ArgumentError when initializing Formatador"
I use the vagrant-libvirt plugin, which uses the Fog library. I get this error when I'm trying to launch a vm.
[code]
My environment:
ruby 2.2.0p0
vagrant 1.7.2
vagrant-libvirt 0.0.24
fog 1.27.0

I reported this as issue https://github.com/pradels/vagrant-libvirt/issues/292 on vagrant-libvirt, but I was asked to open a new issue here.

I can reproduce the same with the following snippet of code,
[

[2015-01-16 11:52] plribeiro3000 commented on #123
This seems a duplicate of #122 which was already solved.

@kshlm Could you try this out against master of the repo?

[2015-01-16 17:28] cphrmky opened #124 "> v1.25.0 Fog::Formatador#table is broken and Fog::Collection is acting differently"
@plribeiro3000 here's the issue I ran into that caused the back-and-forth in fog/fog-softlayer@454cfd21.

##### A picture being worth 1,000 words, let's do it like this:
Here's a short screencast where you can see what I ran into that made me track it down this far.
http://screencast.com/t/jZOY4K5l

I tracked it down a little bit on the table method as below pictures show.  Specifically look at th

[2015-01-16 17:46] geemus commented on #124
That should fix the table stuff ^. I'm less sure (off hand) of the collection issue.

[2015-01-16 17:48] geemus commented on #124
@starbelly could you take a look and see if you have ideas? Basically instead of showing the inspect of the models in the collection it is just showing the object id (but not it's attributes). The screencast might make it clearer than I feel like I am. Thanks!

[2015-01-16 17:57] plribeiro3000 commented on #124
@cphrmky Thanks!

@geemus Good catch. I think the error might be related to [#nested_objects_string](https://github.com/fog/fog-core/blob/master/lib/fog/formatador.rb#L63)

[2015-01-16 19:49] cphrmky commented on #124
@starbelly,

Possibly worth noting, that when I build with @geemus's patch from a11a15f the Fog::Collection issue is gone?  http://screencast.com/t/Q5i21CYwMM [< 60s]

[2015-01-16 20:55] starbelly commented on #124
I need to do an audit for Formatador calls, I'll get on that. @cphrmky when you do `sl.flavors` with https://github.com/fog/fog-core/commit/a11a15f43e830b2f3fbd20adc6cafa301469b601 applied are you still just seeing the the object ids? I imagine it's still just showing object ids, just want to confirm.

[2015-01-16 21:21] cphrmky commented on #124
@starbelly no, that's what I was getting at.  The screencast in my above comment is showing the proper inspection-style objects as members of the collection with a11a15f (and no other changes) applied.

[2015-01-16 21:24] cphrmky commented on #124
@starbelly just realized the screencast could've been more clear.  In the second half of it, when I checkout "master" in the fog-core repo then run through it again, that's fog/fog-core@a11a15f, the current HEAD of this repo.

[2015-01-16 21:26] starbelly commented on #124
It's clear, I just didn't slow down enough to check out that link. Beautiful!

[2015-01-16 21:27] starbelly commented on #124
P.S. Bug reports via screencast for issues like these is simply awesome :+1:

[2015-01-16 21:29] cphrmky commented on #124
That it's working, agreed.

I'm still wondering why the heck that was happening though.  root-cause style.  Superficially, I guess it's fixed-enough-for-open-source and we can all have :beers:, I'd love to see any further theories you might have on it though.

[2015-01-16 21:37] starbelly commented on #124
It's because there's calls in the source to Formatador that are being picked up by Fog::Formatador and Fog::Formatador didn't have display_table and so forth implemented. @geemus added those and more importantly prefixed the calls to Formatador with `::` to instruct Ruby to look from the top down for Formatador. I really don't like that about Ruby. It should be able to decipher on it's own that yo

[2015-01-16 21:40] cphrmky commented on #124
Ah, I didn't catch that subtlety in @geemus's fix, appreciate the explanation.

Sounds like we're good to close this out.  I'll be sure to unlock knife-softlayer from overriding with fog-core 1.25.0 once the next release of fog-core is cut.

Thx to all.

[2015-01-16 21:40] #124 closed

[2015-01-18 07:21] kshlm commented on #123
@plribeiro3000 The reporter of #122 closed it himself, not as a response to a fix. So does master have a fix for it or not?

[2015-01-18 07:22] kshlm commented on #123
Okay. Just saw that #120 fixes this. I'll close this issue then. Thanks @plribeiro3000.

[2015-01-18 07:22] #123 closed

[2015-01-19 21:22] eherot opened #126 "Fog CLI output no longer showing actual data"
I'm not sure how to describe this in technical terms, but somewhere between fog-core 1.27.2 and 1.27.3, output in the command line tool (and Pry and IRB) that used to look like this:

[code]
Started looking like this instead:
[code]
As far as I can tell nothing else about the functionality of the library seems to be affected.

[2015-01-21 01:46] fernandes opened #127 "Billing"
Hey guys,

I've seen fog-core has a [Billing Module](https://github.com/fog/fog-core/blob/7b9df376929ec1f4344047e32745f279f63b6bac/lib/fog/billing.rb) but none of the providers have support for billing stuff yet. Do you have any example how to implement?

I'm adding support on fog softlayer, but API is a little bit complex to add support like Compute or DNS, my ideia is add support for Account stu

[2015-01-21 11:43] plribeiro3000 commented on #127
Hey @fernandes. Right now just `stormondemand` use this Service. I think the best option would be to have a structure like the one we have for `Compute` as you already pointed out.

My only concern here is that as we started moving stuff out of `Fog` we discovered that this Service and another ones are being used by just one Provider (`StomOnDemand where the rule is to have at least 3 Providers th

[2015-01-21 12:13] fernandes commented on #127
hey @plribeiro3000 thank you for response

I saw `storm on demand` implementation, its very simple, has only two collections/models, as (I already supposed) I'm gonna be the first one... I'll try to follow the more generic possible structure so we can share with other modules.

Lets check if @geemus or @cphrmky have another consideration

[2015-01-22 14:57] cphrmky commented on #126
@eherot is this still happening if you build with the latest `HEAD` of fog-core?  I believe that this issue has been addressed.

[2015-01-22 16:12] eherot commented on #126
Ah, yes. It does seem to have been addressed in `HEAD`.

[2015-01-22 16:12] #126 closed

[2015-01-23 18:11] geemus commented on #126
Yeah, apologies for the issue. Will probably follow up with a new release
in the relatively near term.

On Thu, Jan 22, 2015 at 8:12 AM, Eric Herot <notifications@github.com>
wrote:

[2015-01-26 15:01] geemus commented on #127
Yeah. Trying to keep it generic would be good, though it can be hard to really do so without a few examples to draw from. Otherwise, certainly not opposed. Thanks!

[2015-02-02 21:52] plribeiro3000 opened #129 "wait_for can't resolve 400 series errors"
This issue was moved from fog/fog#2910.

Take a look at the original issue for further details.

cc/ @geemus Feel free to add more context here if you think we need. I'm not totally into it yet.

[2015-02-02 22:07] geemus commented on #129
Sure, basically I believe wait_for will loop (and ignore errors). It ignores errors because it is often used to deal with eventual consistency. ie if I look up a new record it may error because it doesn't appear to exist yet, but once things catch up, it should. That being said, if the error returned is 4XX, it means that the CLIENT is doing something wrong and no amount of blind retrying should b

[2015-02-02 22:08] plribeiro3000 commented on #129
:+1:

[2015-02-02 22:53] cphrmky commented on #129
I would agree with you most of the time, but I don't accept this point without caveat.

For example with SoftLayer, when you order bare metal, you get an identifier for the machine as soon as you've called `@sl.servers.create(opts)`, the response is instant.

However, the API is eventually consistent, and they do in fact throw out `404` responses when you try to GET that resource with the ID they

[2015-02-02 22:56] geemus commented on #129
Ah, good point. 404 should retry, but not many other 4XX things. Maybe we should start with JUST the auth ones, since they seem safe bets.

[2015-03-20 17:57] tokengeek opened #138 "Formatador breaks with single objects with `#map` defined."
Brightbox's `CloudIp` object can no longer be inspected because `#map`
is already defined to "port" them between servers.

[code]

It seems when the code that is now `Fog::Formatador` was extracted from
`CollectionString` it became more general rather than just for collections.

So when trying to enumerate the collection of Cloud IPs, because `map` is assumed rather than `each` (which appears to b

[2015-03-20 18:06] geemus commented on #138
Sounds reasonable, thanks for the detailed report. Just let me know if there is anything I can help with. Thanks!

[2015-03-20 18:08] robd commented on #138
I wonder if it would be better to explicitly check for an Enumerable object here. That way calling `map` on the object should be fine because it should expose the Enumerable API.

Just checking for `each` would cause a problem for an object which defined `each`, but didn't have a `map` method. (`NoMethodError` would be thrown, I guess.)

[2015-03-20 18:09] cphrmky commented on #138
Agreed

[code]

would be better still than `.responds_to(:each)`

[2015-03-22 12:20] tokengeek commented on #138
Yeah. I agree that for this case we should check for `Enumerable`

I need to clean the tests up because there's several versions of the check which looks messy.

[2015-03-23 12:34] tokengeek commented on #138
Just cleaning up the test cases and an immediate curiosity stands out. Checked the `Fog::Collection` class and oddly, collections have their own attributes?

https://github.com/fog/fog-core/blob/master/lib/fog/core/collection.rb#L6-L8

I'll leave it in place but unless someone can point to a case where this is used I think this behaviour is a bit confusing.

I've switched to using the `Enumerable`

[2015-03-23 15:02] #138 closed

[2015-03-23 15:07] geemus commented on #138
I think the collection attributes are expected, it doesn't get used a ton, but I think we use it at least in the storage container case (where there are often pagination or filter related attributes, or at least that is how we have implemented them). I guess they could be done as either non-attribute instance variables and/or we could NOT include this in general and only include it on those few ca

[2015-03-23 15:11] tokengeek commented on #138
Yeah. Just confused me since the original specs were just passing in the same object for collections, nested things etc.

Can wait for now.

[2015-03-31 15:18] mattheworiordan opened #142 "Ruby warnings Comparable & Return nil"
I receive the following warnings when require Fog with Ruby 2.2.1:

[code]

I am on Fog master, commit f16fae7b0b40af3212facbf317a76628e353fcc5

[2015-03-31 18:42] mattheworiordan commented on #142
Note I was using `fog` latest commit, but not explicitly pulling in the latest commit on master with `fog-core`.  After including `gem 'fog-core';, git: 'https://github.com/fog/fog-core.git'` this warning no longer appears.

[2015-03-31 18:42] #142 closed

[2015-03-31 18:46] plribeiro3000 commented on #142
Awesome. Thanks for the update!

[2015-04-01 14:27] fcheung commented on #142
FYI this was #134

[2015-04-01 17:59] drich10 opened #143 "Fog::Time.now calling #to_i causes use of OpenStack mocks to be very slow"
This seems to cause an issue when attempting to run tests with Fog.mock! set. When Time.now is evaluated, it is only ever evaluated in full second intervals. Take this code block for example

[code]
def list_servers_detail is invoked as part of the ready call in the server.wait_for block. Even with `Fog::Mock.delay =  0` `server.wait_for { ready? }` will take a full second to finish. This is becau

[2015-04-01 19:39] geemus commented on #142
Thanks for updating, nice to know we got it fixed already.

[2015-04-01 23:00] #143 closed

[2015-04-02 00:25] drich10 commented on #143
Thanks for the quick turnaround!

[2015-04-09 17:20] ihmccreery opened #148 "`==` in Fog::Model currently compares actual objects; should it instead compare `identity`?"
I'm working on implementing more rigorous tests for `fog-google`, and I was surprised to see that `==` isn't reimplemented in `Fog::Model` to compare `identity` or something similar.  In particular, I would expect that:

[code]

would return `true`, but because `==` is still comparing literal Ruby objects, it returns false.

[2015-04-09 19:15] geemus commented on #148
Ah, interesting. I guess it just hasn't come up? Maybe identity makes more sense, what use case were you thinking about?

[2015-04-09 21:27] ihmccreery commented on #148
Honestly, I'm just trying to beef up the tests.  I didn't have a particular use case past that, but any time we have two references to the same resource, this would come up, right?

I'll take a crack at the definition and submit a pull request.

[2015-04-10 14:46] geemus commented on #148
Yeah, I suppose so. I think in many cases the usage tends to be more around using reloads, for better or worse (ie you update the reference you already have, rather than ending up with distinct references).

[2015-04-10 16:11] ihmccreery commented on #148
More specifically, what I'd like to do is:

[code]

but what I currently have to do is:

[code]

[2015-04-16 16:16] geemus commented on #148
Makes sense. Closing in favor of continuing discussion on the PR.

[2015-04-16 16:16] #148 closed

[2015-04-20 13:54] allomov opened #151 "issue with ssh command: interactive input."
Hey, all.

I have an issue with ssh to my server with fog. I can ssh in terminal using password, but when I try to do it in script I get invitation to enter a password interactively (`ubuntu@x.x.x.x's password:`):
[code]
Everything works after I enter password manually. I also got this text before:
[code]
I tried to run it both with `highline` and `ruby-termios`, but it didn't help.

Some lines ab

[2015-04-20 14:09] allomov commented on #151
I see now that a problem is in the way I set ssh password to a server model: when I set it with attr accessor it doesn't work correctly. When I pass a password as a `ssh` method parameter, then it works.

The right way to call ssh for me now is
[code]

Is it correct behavior?

[2015-04-20 14:58] geemus commented on #151
@allomov yeah, I think that should be right. I believe it is set that way (instead of attr_accessor) to be more cautious about keeping the password around and/or displaying it. Glad to hear you found what you needed.

[2015-04-20 14:58] #151 closed

[2015-04-21 15:09] allomov commented on #151
@geemus I have the same issue with `scp` method now. But passing password into options doesn't fix it.

Could you tell how I can fix it ?

[2015-04-21 15:13] allomov commented on #151
As far as I can see `ssh_options` is hidden from caller in `scp` method [[link to source](https://github.com/fog/fog-core/blob/aad1cce35669956284010235b5a3163d172ca421/lib/fog/compute/models/server.rb#L71)].

[2015-04-21 15:16] geemus commented on #151
I think there is an accessor for ssh_options also, so I think you can set values in there and have them pass through (though I agree in is a bit weird/inconsistent with ssh).

[2015-04-21 15:18] cphrmky commented on #151
If all else fails and you're stuck you can do this:

[code]

[2015-04-21 15:20] allomov commented on #151
@cphrmky thank you, I've just used this solution and it worked. Amazing, how fast you are.

[2015-04-21 15:21] allomov commented on #151
@geemus I can make PR to accept password option in `scp` method. what do you think about it ?

[2015-04-21 15:22] geemus commented on #151
Sounds great. We'll have to be careful about making it backwards compatible, but sounds super.

[2015-04-21 15:22] cphrmky commented on #151
@allomov don't tell anyone, they'll want me to get more things done...

[2015-07-29 15:20] jsirex opened #158 "Trying to test with collection_tests but getting error"
[code]

1. Method `collection.all` testing twice.
2. collection_tests tries to pass block to method all which actually doesn't accept blocks.

How it designed? Should I implement possibility to pass block to method "all" or this is really bug?

[2015-08-07 20:09] geemus commented on #158
@jsirex could you share a link to where the test files are? I think that might help me narrow in on the issue. Thanks!

[2015-08-10 12:59] jsirex commented on #158
Here is collection_tests helper: https://github.com/fog/fog-core/blob/master/lib/fog/test_helpers/collection_helper.rb#L33-L49

You're testing Enumerable with list of methods. First of them is `#all`. Test again?

Here you're trying to pass block to method `#all`. https://github.com/fog/fog-core/blob/master/lib/fog/test_helpers/collection_helper.rb#L46

I've work-a-rounded this method by updating

[2015-08-10 19:54] geemus commented on #158
Hmm. I'm not sure. We have examples in other places that seem to NOT yield, but still pass, ie:

* https://github.com/fog/fog-aws/blob/916351a3532e80a0318e766ec12bb87fa2348350/lib/fog/aws/models/compute/addresses.rb#L54
* https://github.com/fog/fog-aws/blob/916351a3532e80a0318e766ec12bb87fa2348350/tests/models/compute/addresses_tests.rb

I'm not seeing what the difference is there off hand though.

[2015-08-10 21:12] jsirex commented on #158
First time I've wrote exactly as in your example. But it doesn't work for me. Used ruby 2.1.5.

Actually, I'm not a "ruby profi" and can't understand why addresses_tests in your example works for you.
https://github.com/fog/fog-core/blob/master/lib/fog/test_helpers/collection_helper.rb#L46 - here method `#all` called with ruby block parameter. But in method itself this block never called (no yield

[2015-08-13 13:21] jasecoop opened #159 "TypeError: no implicit conversion of Symbol into Integer"
Hi

I'm trying to get my app working on Heroku and I'm recieving this error in the server logs around the credentials

[code]

I am setting Fogs credentials in config/intitializers/fog.rb

[code]

I'm at a bit of a loss was hoping somebody would be able to shed some light on my problem.

Thanks

[2015-08-13 13:30] plribeiro3000 commented on #159
I can see that you are using an old release. Can you try to use the latest version?

https://rubygems.org/gems/fog-core

[2015-08-13 13:44] jasecoop commented on #159
I'm using fog-core via the Fog gem. It seems the latest version is specified in my Gemfile.lock. Yet the older version runs in Heroku according to the logs.

[code]

[2015-08-13 14:03] jasecoop commented on #159
@plribeiro3000
Updated gems. Still getting same issue...

[code]

[2015-08-13 14:06] plribeiro3000 commented on #159
After taking a look [here](https://github.com/fog/fog-core/blob/v1.32.1/lib/fog/core/credentials.rb#L71) it seems the issue might be related to your `yaml` file. Could you paste its structure here?

[2015-08-13 14:08] jasecoop commented on #159
@plribeiro3000 Ah, I'm without a yaml file.

What does this involve?

I have fog.rb with my credentials shown above...

[2015-08-13 14:15] plribeiro3000 commented on #159
You can see that it checks for the file so somehow it is finding a file.

https://github.com/fog/fog-core/blob/v1.32.1/lib/fog/core/credentials.rb#L69

Can you check wheter you don't have a file?

[2015-08-13 14:56] jasecoop commented on #159
@plribeiro3000 Can't find a file.

I added .fog to my root folder and added the following but unfortunatly I'm still getting the same error.

[code]

[2015-08-13 14:59] plribeiro3000 commented on #159
Hmmm. It does not look at the root folder of your project but rather in the user folder.

The interesting thing is that if you don't have a file why is it finding one? Maybe is something related to your deploy or the way heroku handles it?

@geemus Can you chime in? I think you might know that better.

[2015-08-13 15:09] geemus commented on #159
You may want to check and see if `FOG_RC` is set, as that will specify a non-default place to look for that file?

[2015-08-13 15:42] jasecoop commented on #159
Thanks for the help guys. It's now working. You're right, it was looking for the yml file.

I added this line and it now works:

[code]

Thanks again for your help.

[2015-08-13 15:42] #159 closed

[2015-08-13 16:11] geemus commented on #159
Great, thanks for the update.

On Thu, Aug 13, 2015 at 10:42 AM, jasecoop <notifications@github.com> wrote:

[2015-08-25 21:04] geemus commented on #158
You know, as I dig deeper here, I think there is a typo. Namely, I think that is supposed to be `all?` and that the block part should work because it is a method mixed in from enumerable (where all those methods accept blocks) see: http://ruby-doc.org/core-2.2.3/Enumerable.html

Will push a fix in a moment, sorry for the confusion.

[2015-08-25 21:04] #158 closed

[2015-09-25 21:32] Temikus opened #162 "Net-ssh upgraded and breaking fog-core deps on Ruby < 2.0 compliant stacks."
I noticed fog-google builds started failing as I have just made a no-op change before release:
https://travis-ci.org/fog/fog-google

Builds failing on fog-core on:
Ruby - 1.8.7
Ruby - 1.9.2
Ruby - 1.9.3
ree
jruby

Looking at the dep graph, it's fog-core's dependency net-ssh, which just updated a couple of hours ago:
https://rubygems.org/gems/net-ssh/
3.0.1 - September 25, 2015 (177 KB)

I created

[2015-09-25 21:33] plribeiro3000 commented on #162
I'm on it. Just waiting for the build result. Thank you for spotting that!

[2015-09-25 21:35] plribeiro3000 commented on #162
and btw, `fog-google` should drop support to ruby `1.8.7`, `1.9.2`, `ree` and `jruby-18mode` since fog `2.0.0` does not support it anymore.

[2015-09-27 18:32] Temikus commented on #162
@plribeiro3000 I noticed that fog-core still has 1.9.2 rubies in CI config.
Should I propose a change there as well?

[2015-09-27 21:11] plribeiro3000 commented on #162
Yes. We need to update `fog-core` and all extracted providers.

[2015-09-28 13:56] geemus commented on #162
@Temikus thanks for the heads up, we're working on it.

[2015-10-01 14:48] plribeiro3000 commented on #162
@Temikus We need to remove ruby `1.9.3` as well. Could you take care of that?

[2015-10-02 10:17] Temikus opened #165 "Add slack as a target for Travis notifications"
We currently have Travis notifications pointing to IRC:
[code]
With people now working in slack, it may make sense to push build notifications there as well.
It should be relatively simple to add:
http://docs.travis-ci.com/user/notifications/#Slack-notifications

/CC @plribeiro3000 as the slack org and fog-core owner, since I don't think I have access to generate API tokens.

[2015-10-02 12:58] plribeiro3000 commented on #165
@Temikus I think we can do this without adding code to the repo. There is already integrations for `AWS`, `Softlayer`, `sakura-cloud` and none of them have this.

I think we just need to add the integration from slack side. Let me try and see it about it.

[2015-10-02 13:00] plribeiro3000 commented on #165
Hmmm. It seems that those projects only have github integration so far.
I wonder if github integration would be cleaner then travis. What do you think?

[2015-10-02 13:26] Temikus commented on #165
@plribeiro3000 SGTM, let's do GitHub!

[2015-10-02 13:30] plribeiro3000 commented on #165
Done. Closing this.

[2015-10-02 13:30] #165 closed

[2015-10-29 17:24] Temikus commented on #162
@plribeiro3000 Took care of that a while ago, sorry, forgot to update here.
Has the deprecation been completed? Or are we still tracking stuff in this bug?

[2015-10-29 17:58] plribeiro3000 commented on #162
i guess you are right @Temikus. We might be missing only a new release.

[2015-10-29 18:45] icco commented on #162
I released when 1.9.3 got removed.

[2015-11-03 15:16] geemus commented on #162
I think I have a plan here to make this more tenable. Basically I hope to change the net-ssh requires to optional (require/rescue+warn). That should remove the dependency altogether for people that don't even need it and let those who do manage their own ssh versions. This would then let 1.9.3 remain workable for a bit longer.

[2015-11-16 12:12] milani commented on #162
I use `fog` in my rails app. I used bundler to update the dependencies. Now, the rails app doesn't work with following error:
[code]

I could resolve the issue adding `net-ssh` to my `Gemfile`. I think it is the result of: https://github.com/fog/fog-core/commit/7a87027df7666a27ea60a06c8299c4c5c46f478b

[2015-11-16 12:17] plribeiro3000 commented on #162
@geemus This changes seems to be broken. =s
Since `fog-core` uses `require` this file will always be required and thus `net-ssh` will always be required even when the used does not want to.

thoughts?

[2015-11-16 14:48] geemus commented on #162
fog-core shouldn't actually require now, or at least it should fail nicely. fog itself still needs a release though.

[2015-11-16 15:21] geemus commented on #162
I think this is (hopefully) temporarily ok again. I've release a new fog to match with fog-core (and it locks to a 1.9 compat version of fog-google). I think I might still need to release a couple of the other related gems, but that we should be good at that point. I guess whether or not we should try to make fog-google come back to 1.9 compat is a broader question. I think for now it can go it's

[2015-11-16 15:21] #162 closed

[2015-11-16 19:00] JustMcAfee opened #167 "Incorrect net/ssh missing error messages"
When net-scp is not found, fog-core prompts to install net-ssh.  This is misleading, and occurs even if net-ssh is in fact installed.

[2015-11-16 19:02] plribeiro3000 commented on #167
Good catch. The wrong message is [here](https://github.com/fog/fog-core/blob/master/lib/fog/core/scp.rb#L46). Can you open a PR with this fix?

[2015-11-23 19:40] penfold45 opened #169 "mime-types update has broken tags"
Hi

I think the latest upgrade of mime-types has broken all old versions of fog. I am still very new to ruby and gems but as far as I can tell this line pulls the latest version off mime-types which just got updated to require Ruby 2

    spec.add_dependency("mime-types")

I have tried installing a specific version mime-types before installing fog but it seems still to install the latest mime-type

[2015-11-23 20:25] geemus commented on #169
I guess we probably need to pin the dependency inside fog to an earlier version. In theory in your app I think you could also do this in your Gemfile to get it to work ok. We would certainly welcome a patch to lock the version here as well (as we are intending to maintain 1.9 compatibility a bit longer at least, though it seems to be getting harder all the time to do so).

[2015-11-24 15:24] rwngallego commented on #169
I have this same issue

[2015-11-24 16:05] geemus commented on #169
working toward a fix here: https://github.com/fog/fog-core/pull/170

[2015-11-24 16:05] #169 closed

[2015-12-02 07:00] celeen opened #171 ""uninitialized constant Fog::Storage::MIME""
I am working on building a middleman static site to aws S3, and encountering the following error:
```gems/fog-core-1.35.0/lib/fog/storage.rb:68:in `get_content_type': uninitialized constant Fog::Storage::MIME (NameError)```

I've done a bit of tracing, and it looks to me like what's going on is:

mime/types is inaccessible in [lib/fog/storage.rb:68](https://github.com/fog/fog-core/blob/master/lib/

[2015-12-02 12:04] plribeiro3000 commented on #171
So there is 2 things here.

* You need to add the gem `mime-types` to your project
* Fog needs to correctly raise an exception telling you to do so

I'm not totally sure why it didn't. Maybe @geemus have a better idea?

[2015-12-02 15:44] geemus commented on #171
Hmm. @celeen I would think you would have to call new before calling put_object though? That would give the connection needed, though I could be wrong.

[2015-12-02 16:18] geemus commented on #171
Actually, upon further consideration I suspect that you have an older version of fog (which doesn't have the mime-type warning in Storage#new) paired with a new version of fog-core. Could you try updating fog and see if that helps?

[2015-12-02 17:27] celeen commented on #171
Oh, man, I've run bundle update a whole buuunnnnch of times in the past 12 hours. Maybe I'm not completely understanding how the fog architecture works together-- I'm using the gem middleman-s3_sync, which is calling on fog-aws (0.7.6), which is calling on fog-core(1.35.0). I've put some very sophisticated `p` statements into my local version of the gem fog-core to try to trace whether Storage.new

[2015-12-02 18:33] geemus commented on #171
I think perhaps middleman was also working on a fix here, so you may also want to bump that if you haven't. Sorry for the run around here, I think there should be a working set of versions, but I'm not precisely sure what they look like off hand.

[2015-12-02 18:49] celeen commented on #171
Hey, no worries. I solved this issue independently by digging into the fog-core code on my local machine and manually reverting the changes in that commit I referenced, moving that begin/rescue block outside the #new method. I figured I'd report that I ran into a bug just in case y'all wanted to revert, or come up with a different solution to making mime/types optional.

I'll be on the lookout for

[2015-12-04 16:33] alex88 commented on #171
Same here on s3 sync and middleman, I've installed `gem 'mime-types'` but I still get that error :/

[2015-12-04 16:36] alex88 commented on #171
Nvm, my fault, had to clear cache on CI for some reason!

[2015-12-09 14:28] geemus commented on #171
Thanks for the updates, glad to hear you both got it working. I'm hoping there won't be too many issues (or at least that they are short-lived) around this, so we can move on.

[2016-01-05 05:35] fredjean commented on #171
I was just made aware of this issue. I have already applied the workaround on middleman-s3_sync by adding `mime-types` as a dependency in my gemspec. I don't have any other fixes. I'm opened to suggestion, but I am tired of having to deal with the unfortunate decision to remove that dependency from fog.

[2016-01-05 06:00] monfresh commented on #171
@celeen's analysis is spot on.

I can confirm that this is still an issue with the latest version of all the gems, and that the culprit is [this commit](https://github.com/fog/fog-core/commit/0fd7d8f846376fe3dc6d804163b0079a2b343226).

The reason why the `uninitialized constant Fog::Storage::MIME (NameError)` error is thrown is because `Fog::Storage.new` never gets called, as pointed out by @celee

[2016-01-05 15:27] geemus commented on #171
@fredjean @monfresh sorry for the confusion and difficulty. We removed this in the hopes that it would allow us to continue to support a diverse set of ruby versions and mime-types dropped support for everything less than 2.0.0 in newer versions. By removing the direct dependency, we had hoped to allow the user to get the version of mime-types that made sense for their ruby version. Could we impro

[2016-01-06 01:33] monfresh commented on #171
It is not middleman's responsibility to require mime-types. It is fog's, since fog depends on mime-types in one way or another. The solution, as pointed out by @celeen, is to make sure the block that requires mime-types is outside of Fog::Storage.new, because not every call to Fog::Storage passes through `.new`.

[2016-01-06 04:09] monfresh commented on #171
Also, I think it's perfectly acceptable to allow the user to specify their own version of mime-types, but it would be great if that were also documented in the README (that they need to add `mime-types` to their Gemfile), rather than only in an exception message (which doesn't even get called in this scenario).

To recap, if it were me, I would have handled #170 by doing the following:

1. Remove

[2016-01-06 04:11] monfresh commented on #171
And for better changelogs, I recommend [github-changelog-generator](https://github.com/skywinder/github-changelog-generator). It's an amazing tool that generates the changelog for you based on GitHub issues and pull requests.

[2016-01-06 14:52] geemus commented on #171
I didn't want to require everyone to setup mime-types either, as only a subset of fog users (those using storage) actually need it. Better documenting and testing it would certainly be good, but I only have a limited amount of time and focus I'm able to bring to bear so I'm trying to do my best within those constraints. The changelog we have uses a simple rake task, which has usually been sufficie

[2016-01-06 17:09] geemus commented on #171
I remain confused how we are reaching this edge without seeing the warning also. You mention that:

But in that case `service` refers to an object created via calling `new`, which should hit the require? Sorry, just feeling like I'm totally missing something here.

[2016-01-07 07:19] monfresh commented on #171
What you're missing, my friend, is what we've been trying to tell you multiple times :smile: You seem to be convinced that `new` is called, but the evidence points to the contrary. If the require block is moved back to where it was, this bug disappears. If I do `puts service.class` right before `service.put_object`, I get `Fog::Storage::AWS::Real`.

Like @celeen, I put `puts` statements at the ver

[2016-01-07 07:24] monfresh commented on #171
What was the reasoning behind moving the require block from the top of the file to `new`?

[2016-01-07 16:11] geemus commented on #171
I looked through the middle_man code and it looks like it should be creating a connection object (which would call new) and then doing other calls on it, but I'm not super familiar with that code so I could be missing something. `Fog::Storage::AWS::Real` is exactly what I would expect for an instance that had gone through a new call. I definitely understand how `parse_data` is a class method which

[2016-01-07 16:35] geemus commented on #171
Ok, I think I've figured out how/where I was being confused. I just pushed a patch to fog-aws to hopefully fix this in the fog-aws case. Could you guys try out from master and see if it helps? If so I can follow up with a release and we can hopefully put this behind us. Sorry for all the confusion, just looking in all the wrong places it seems...

[2016-01-07 23:37] celeen commented on #171
I will try it again tonight as soon as I get the chance, *just to make sure* but as far as I could tell working with this when I raised the issue it was/is one of scope. `mime/types` is loaded in a scope that the method that needs the info (`#get_content_type`) doesn't have access to.

When I initially raised the issue, I played around with putting the 'require' statement in different places; when

[2016-01-08 00:54] monfresh commented on #171
Thanks, @geemus. The latest fix works.

[2016-01-08 01:43] celeen commented on #171
For me as well. This was enlightening! Thanks @geemus , and @monfresh !

[2016-01-11 15:42] geemus commented on #171
Glad to hear it, sorry for all the confusion/delay and thanks for working through it with me.

[2016-01-11 15:42] #171 closed

[2016-03-07 06:49] NimishaS opened #177 "`mime-types` gem is not added in the gemspec"
`mime-types` gem is required here https://github.com/fog/fog-core/blob/master/lib/fog/storage.rb#L11, but it's not added in the `gemspec` dependencies.
This is causing Travis failure for the gems which are using `fog`.

[2016-03-07 10:05] Temikus commented on #177
@NimishaS `mime-types` was unbundled from `fog` gem to prevent ruby <2.0 compatibility issues, see: https://github.com/fog/fog/issues/3775

For now, I suggest you specify the dependency directly in your `Gemfile`

[2016-03-18 12:09] seanhandley opened #178 "Unable to perform Fog::Mock.reset"
Originally raised over on https://github.com/fog/fog-openstack/issues/59 but the line raising the exception is coming from `Fog::Core`.

[code]

You can reproduce the exception using the following:

[code]

[2016-03-18 12:13] seanhandley commented on #178
This code produces this output.

[code]
=>
[code]

[2016-03-18 14:24] geemus commented on #178
I imagine this has to do with the extraction and the relative timing of when things are required (or not). But I'm not super sure.

@nirvdrum any insights, looks like you setup the autoload checking stuff here. Thanks!

[2016-03-18 15:35] nirvdrum commented on #178
I'll try to reproduce. In theory, I only changed things to not autoload constants that haven't already been loaded. Hopefully no one was relying on `Fog::Mock.reset` to load a constant they weren't already using.

[2016-03-18 16:34] geemus commented on #178
@nirvdrum Thanks for taking a look, I tried to review it, but it made my brain a little melty. Do let me know if there is anything I can help with.

@seanhandley that maybe worth taking a look at. The order in which you address stuff might be problematic?

[2016-03-18 17:15] #177 closed

[2016-03-18 17:34] plribeiro3000 commented on #178
So this is not a `fog-core` issue. If you take a look at the main file at `fog-openstack` [here](https://github.com/fog/fog-openstack/blob/master/lib/fog/openstack.rb#L36) you will see it defines a constant called `Fog::OpenStack::Compute` that should be found at the file `fog/openstack/compute` [here](https://github.com/fog/fog-openstack/blob/master/lib/fog/openstack/compute.rb).

But if you take

[2016-03-18 18:07] geemus commented on #178
Good catch, thanks!

On Fri, Mar 18, 2016 at 12:34 PM, Paulo Henrique Lopes Ribeiro <
notifications@github.com> wrote:

[2016-03-18 20:14] nirvdrum commented on #178
Yay! It sounds like I'm off the hook :-)

[2016-03-18 20:16] plribeiro3000 commented on #178
I would suggest to check this kind of problem in the other constant definitions. If you want i can send a PR to `fog-openstack` to fix this and other possible cases. =)

[2016-03-18 20:30] seanhandley commented on #178
Nice one @plribeiro3000.

I'm confused how this ended up this way. Since I started working on the Fog gem I thought all the individual implementations were of the form `Fog::Compute::PROVIDER` etc.

Not sure I see how to fix it either, without restructuring the whole gem. Or maybe by removing `autoload` and using explicit requirements.

[2016-03-18 20:34] plribeiro3000 commented on #178
Don't worry @seanhandley . I will fix it. Did it for all the other extracted providers. =)

You just need to change

[code]

to

[code]

[2016-03-18 20:36] seanhandley commented on #178
Aha. We have a PR to this effect @plribeiro3000 https://github.com/fog/fog-openstack/pull/65

Would you mind a look through it? It seems sane enough to me.

[2016-03-18 20:51] plribeiro3000 commented on #178
Sure. =)

[2016-03-30 22:57] gildub opened #180 "Next tag/release 1.37.0?"
Would it be possible to get a new release?

The reason is for introspection tests to pass since gem dependency like fog-openstack is based upon release (Gemfile).

I'm happy to push the change unless inappropriate.

Thanks

[2016-03-31 16:05] geemus commented on #180
done, thanks for the reminder.

[2016-03-31 16:05] #180 closed

[2016-03-31 23:28] gildub commented on #180
Super, thanks!

[2016-04-20 13:30] voelzmo opened #184 "Bump excon to >=0.49.0"
Hi,

could we please get a fog-core version with excon bumped to >=0.49.0?

We're seeing freezes exactly as described in https://github.com/excon/excon/issues/542 in [`ssl_socket`](https://github.com/excon/excon/blob/v0.45.4/lib/excon/ssl_socket.rb#L122) and commit https://github.com/excon/excon/commit/192bb842e70b550ed6d78c6d621962ee0faca4be introduces a timeout in that very line.

Apologies upfr

[2016-04-20 16:02] geemus commented on #184
Thankfully, I maintain both, so I'm pretty comfortable in saying a bump shouldn't cause further issues (except maybe in some jruby versions, but that is a whole other can of worms and exists through a number of versions).

[2016-04-20 16:03] #184 closed

[2016-04-20 16:12] geemus commented on #184
released in v1.38.0

[2016-04-21 11:31] voelzmo commented on #184
Wow, awesome, that was fast. Thanks a million!

[2016-05-06 16:42] cphrmky commented on #46
Was a consensus ever reached on this issue?  I just ran into it with [fog-softlayer/issues/86](https://github.com/fog/fog-softlayer/issues/86).

[2016-05-06 17:55] nirvdrum commented on #46
I'll just note that in more recent Ruby releases, symbols can be GC'd. With fog planning to go Ruby 2.0+, concerns around GC should fade.

[2016-05-10 15:29] geemus commented on #46
Being consistent internally seems good, but being usable for end-users is perhaps even better/more important. I'm open to doing what we need to do and it sounds like we are moving toward a place where some of our more concrete concerns are taken care of (and whether we feel good about it or not perhaps doesn't matter as much as how usable it is or is not).

[2016-05-10 15:31] cphrmky commented on #46
👍 for usability

[2016-05-17 10:25] seanhandley opened #188 "Container Service"
I'm looking to add Container support to `fog-openstack` via the Magnum project.

I'm unsure which other cloud technologies provides APIs for container services but given the popularity of containers over the past few years I think it's a worthwhile service type to add.

Thoughts welcome.

[2016-05-17 16:42] plribeiro3000 commented on #188
Hmm. I guess is something that we could have but dunno how to go from this.
We just created `NFV` just for openstack. I'm afraid that at this rat we will create tons of services just for `openstack` but i do get that is something we might want to have.

cc/ @geemus

[2016-05-18 12:29] seanhandley commented on #188
OpenStack's a difficult one because new projects come out all the time and new releases are once every six months.

I don't think it's necessary (or reasonable) for Fog to support all OpenStack sub-projects but I think a container service is probably available or available soon in other cloud providers' APIs.

[2016-05-18 16:09] gildub opened #189 "Bump up release"
Could we please bump up a new release (version + gem)?

[2016-05-18 17:41] plribeiro3000 commented on #188
Isn't another way to do this without pushing stuff to core? Maybe a workaround?
I will happily code something to make that happen.

[2016-05-19 12:29] seanhandley commented on #188
There's nothing stopping `fog-openstack` creating its own core classes for containers.

The questions is long term maintainability of all Fog sub projects.

[2016-05-19 16:31] plribeiro3000 commented on #188
Sure. I agree. I'm just worried that we might explode the number of Services in `core` which is shared with services only used by `openstack`.

I totally understand the reason to push this kind of stuff to core but perhaps we should have a way to do this inside the provider first and once others need it as well we push it to code.

I believe you might be able to register a Service inside `fog-open

[2016-05-19 18:26] geemus commented on #188
Also, if there are other services that already explicitly have container services that helps (even if we don't support them). I certainly think it is likely that things are headed in this direction, but I haven't seen much of it concretely yet.

[2016-05-19 18:48] geemus commented on #189
Should be done.

[2016-05-19 18:48] #189 closed

[2016-05-24 15:37] Temikus opened #191 "2016-04-06 Security Check"
http://blog.rubygems.org/2016/04/06/gem-replacement-vulnerability-and-mitigation.html
I think it's a good idea to verify our gems post this announcement if it hasn't been done.

I wrote a script to do this relatively quickly:

[code]

It may be a good idea to create similar bugs in all our metagems.

[2016-05-24 18:31] plribeiro3000 commented on #191
👍 to create this in all our meta gems.

[2016-05-25 17:51] geemus commented on #191
Sounds good. I did similar stuff for some work gems, but didn't really follow up with all of these.

[2016-06-01 09:39] gildub commented on #189
I forgot: thanks!

[2016-06-28 09:03] Temikus opened #193 "Bump up fog-core to fix failing tests"
Can we release a new version with #192 and bump up the gemspec in `fog/fog` so the tests stop failing?

/CC @geemus @plribeiro3000

[2016-06-28 12:26] plribeiro3000 commented on #193
@Temikus Is up to @geemus here. I don't have access to release this.

[2016-06-28 17:49] geemus commented on #193
Thanks for the ping, I'm on it.

[2016-06-28 17:52] geemus commented on #193
released in 1.40.1, will follow up with fog release shortly

[2016-06-28 17:54] geemus commented on #193
gemspec is bumped, guess release shouldn't be strictly necessary, though we might be due for one

[2016-06-29 18:03] vemv commented on #193
Care to explain this issue and its status? I can't quite follow.

What I know is that my CI builds are failing. I see 1.40.1 in rubygems (and it's installed in my machine) though, so I'm not really sure if it's Fog or Codeship the one at fault.

![image](https://cloud.githubusercontent.com/assets/1162994/16463031/4b18b212-3e34-11e6-8214-c95befa67033.png)

[2016-06-29 18:17] geemus commented on #193
I think I had specified the dependency incorrectly in the gemspec for fog, and I had thought it was now fixed. 1.40.1 should be available as can be seen here: https://rubygems.org/gems/fog-core. Are you using the latest master?

[2016-06-29 18:49] vemv commented on #193
fog was an indirect dependency (i.e. not declared in my Gemfile). re-generating Gemfile.lock from scratch didn't fix the issue.

As a temporary workaround I added `gem 'fog-core', '1.38.0'` to my Gemfile, that made Codeship happy.

[2016-06-29 19:09] geemus commented on #193
Strange, I think a `bundle update` or something would hopefully do it (that seemed to work directly in the `fog/fog` case).

[2016-06-29 20:45] Temikus commented on #193
Cannot reproduce it on my setup:
[code]
There may be some issues on the Codeship side or in how your project gems are specified.
I'll need a more detailed repro to understand the situation.

[2016-06-29 20:49] geemus commented on #193
Maybe some out of date caches or something? Hopefully it will all clear up soonish.

[2016-06-30 12:42] arteezy commented on #193
It's not Codeship specific, I get the same error on Travis CI:
[code]
I can install this gem manually on all my machines (locals and remotes), but on CI it fails.

Two days have passed since release, so I doubt it's cache

[2016-06-30 12:48] vemv commented on #193
I couldn't reproduce the issue in my laptop either, only CI. Just like @arteezy experiences.

Codeship has a 'clean dependency cache' option, but it didn't work.

Given that the CI issue is somewhat confirmed, I suggest a dummy version bump. Seems like `1.40.1` was an erratic release - maybe there was some kind of strange interaction (like race conditions) between rubygems and CI providers.

[2016-07-01 13:50] #193 closed

[2016-07-02 20:17] arteezy commented on #193
1.41.0 is working. Thanks for resolving this issue quickly.

[2016-07-05 15:01] geemus commented on #193
Certainly, thanks for your patience and understanding in the mean time.

[2016-08-05 18:59] #127 closed

[2016-10-28 01:53] gildub opened #198 "The mocking bird"
Can we please remove mock?

There are several reasons to remove the Mock class or at least move it away into unit tests.
Also, I believe I'm not the only one thinking in such way about the mock, so it seems to be the time to discus it.

Looking back, some time ago, I was thinking having unit testing capability close to the source was a good idea, meanwhile experience proved otherwise.

The mock cl

[2016-10-28 04:43] gildub opened #199 "Time to get a new service: How to restructure?"
There is a structural issue with the current Service class.
Namely, each subclass Service has a `service` method which creates a circular reference for each service within itself.
This is defined dynamically in [1], the meta programming is not the issue here, but this is effectively unfortunate and has several impacts including making it hard to troubleshoot services defined in fog sub-projects.

[2016-10-28 10:48] Temikus commented on #198
I think this is relevant to #12

[2016-10-28 21:23] gildub commented on #198
@Temikus, yes removing any tests using Mock would have to be done too.

[2016-10-28 21:32] plribeiro3000 commented on #198
@gildub There is interesting points here for sure.
But there is also the other side of the coin. Mock might be a pain for use to maintain in the source code but when it works (not all apis are available in mock mode) it helps who are developing using `fog` by a lot. I know that because i've done it before and it really helped.
Another point here is that the code you were using might not be in a go

[2016-10-29 07:21] gildub commented on #198
@plribeiro3000,

to clarify myself, Mock class doesn't have to disappear at all but nevertheless shouldn't be mixed with the source code and has to go where it belongs to which is into the test code along all doubles and other mocks.

Therefore :+1: to extract Mock and move it to `fog-mock` to load it only in dev/test. Alternatively that library could reside into test helpers.

The other part, I w

[2016-10-29 16:02] plribeiro3000 commented on #198
Gotcha.

That makes sense. Would you be up to extract `Mock` into its own gem?

[2016-10-29 16:04] plribeiro3000 commented on #198
BTW, we can't/shouldn't move it into test helpers because that means we would have to create helpers for each one of the most used test frameworks. And i don't think we should spend time on such thing for now.

[2016-10-31 00:54] gildub commented on #198
@plribeiro3000,

Extracting Mock is going to be an interesting task. I can start but I believe some of the core members should be involved into it too.

To start with, as a member of the fog organisation, could you please create a repository ?
As for a name, a good candidate is fog-mock-core, to start the mock family group as there is going to be the related project, i.e. fog-mock-openstack and so

[2016-10-31 01:08] plribeiro3000 commented on #198
I believe we can start with `fog-mock` only since we wont need to create one for `fog`.
The direction we are heading is to push all efforts to extracted providers, new providers need to be on its own gem from beginning and old providers are being extracted as possible. This means that at some point we will also drop `fog` since most use cases don't need more then 10 providers that we support so al

[2016-10-31 01:23] gildub commented on #198
@plribeiro3000,

The name and approach makes sense. You have more visibility.

For the extraction I think that's doable.

[2016-10-31 01:33] plribeiro3000 commented on #198
@gildub https://github.com/fog/fog-mock

[2016-10-31 05:39] gildub commented on #198
@plribeiro3000,

Ok, I've pushed initial extraction onto fog-mock and on par with it I've pushed PR#200.
The latter to fail until the first fog-mock gem is available.

BTW, could you please create fog/fog-mock-openstack repository add me to it?

Thanks

[2016-10-31 11:24] plribeiro3000 commented on #198
@gildub awesome. I just reviewed it and made some comments as we need to be backwards compatible for now.

As for the new repository i'm not sure we need to go this path. This means we will double the number of repositories we already have. What i was having in mind is to change the structure from inside the providers in a way it would not load the mock class by default and that the use would need

[2016-10-31 14:36] geemus commented on #199
Hey, thanks for your feedback. I don't think I quite follow what you are going for. Are you seeing particular issues around the current service interface that you could detail? It sounds like the main distinction you describe here is that you could have creds setup once to interact with any of the individual services that make up a particular providers' offerings?

[2016-10-31 14:51] geemus commented on #198
I suspect we would probably need to do one mock-repo per provider (similar to what I think is described above). As @plribeiro3000 suggests, I think they do provide a lot of value but it certainly makes sense to me that they could be something you opt-in to instead of something you are forced to bring along. Also I would agree with @gildub that for test purposes, things like webmock may be more acc

[2016-10-31 14:53] plribeiro3000 commented on #198
@geemus Yeah, with that in mind i'm not that sure with this move anymore.
What do you think? Does it make sense at all?

[2016-10-31 22:17] gildub commented on #198
@plribeiro3000,

I believe the move makes sense, if we cannot make it happen somehow then the project would risk a split (fork) because a version without Mock is going to appear.

[2016-11-01 00:29] gildub commented on #199
@geemus,

The issue I'm seeing is not specific but structural, as you commented in line #52 (aforementioned source snippet).

And at the same time, while restructuring the service, then having a Cloud object will effectively allow to do setup (creds, main endpoint and global config) only once but it will also allow to have all services directly available (still autoloaded though) under that same C

[2016-11-01 03:45] gildub commented on #198
Looking at moving the Mock classes for the fog-openstack project, I think there is no need for a dedicated fog-mock-openstack place-holder, at least for now. Moving the Mock classes in the test section (for instance test/lib/fog/) works quite well and keeps everything handy.

I actually wonder if the same approach shouldn't be used here too for fog-core?
@plribeiro3000, I know the initial idea of

[2016-11-01 04:38] Temikus commented on #198
While I see the moving 'Mock' as a good change, I'm a bit worried that we may not have the bandwidth to support 2x amount of additional repos + their miscellaneous version issues.

I'm especially worried about requiring people submitting PR's to sync their changes between 2 repos with different release schedules.

Am I making sense? I may not be seeing something though since I haven't used Mock mu

[2016-11-01 04:58] gildub commented on #198
@Temikus, thanks for jumping in.

Ok so another gem for Mock is overkill.
Let's extract Mock classes and the related code to test/lib. That would be a good starting point and might just stay there.

Actually, there is not much code involved:
 * 2 Mock classes used by ssh and scp, the 2 inbreed providers
 * The Service class triaging the Mock/Real cases
 * An Error class
 * Some require glue

[2016-11-01 05:26] gildub commented on #198
Ok I just said `test/lib` meanwhile because the fog projects need that code, if using mock, it would be better in lib/fog/test_helpers/.

[2016-11-01 05:49] gildub commented on #198
A note about SSH and SCP Mock classes which do contain Mock classes but are just as any other service provider would be. I believe they are in fog-core because there's no fog-ssh project (more likely that would have happened during the fog main project split) .

This actually raises the question:  Shouldn't scp and ssh be living into a dedicated provider? This is in order to respect a plug-in appr

[2016-11-01 06:19] gildub commented on #198
This [1] would be one way of doing this 'in-house' without using a fog-mock (or so) gem.

[1] https://github.com/fog/fog-core/pull/201

[2016-11-01 13:43] geemus commented on #198
Could it just be in something like `/lib/mock` instead of test? I guess it just feels weird to put it in test as it seems to imply it's just for our tests (vs also being for end-user tests). Does that make sense? We could still skip requiring it potentially, I just don't want to put it somewhere that would be more difficult for end-users.

[2016-11-01 13:49] geemus commented on #199
I'm afraid I'm still not really getting the what benefit we would see for doing this work yet, at least if there isn't a particular issue it addresses. Not sure yet what I'm missing.

[2016-11-01 14:43] plribeiro3000 commented on #198
I'm rethinking this whole thing.

We are running around without going nowhere. We are changing our opinions for something that is not even the original problem. Maybe we should take one step back (or even 10) and think about it again.

With @geemus comment on end users and that `Fog.mock` is not for test purposes only i don't se a reason where it could not be the way it is right now. I have to als

[2016-11-01 22:47] gildub commented on #198
@plribeiro3000, Mock mixed up with the code is wrong, not matter what the angle or how many steps back you take to look at it. It's clear that's a good change but not using the gem approach.

[2016-11-01 22:49] plribeiro3000 commented on #198
I understand that but can you please tell us your issue?
Mock or not to Mock is a subject we might not need to touch now if we figure out the issue that made you get into this path.
Can you please share the problem?

[2016-11-01 22:50] gildub commented on #198
@geemus, sorry for the confusion, I initially said test/lib but I realized that the core part of Mock has to reside under lib to be able to be used by other projects/providers.
`lib/mock` or `lib/fog/mock` sounds good.

[2016-11-01 22:52] gildub commented on #198
@plribeiro3000, the issue is that test code shouldn't be mixed with source code. Maybe few years back that was a good idea, and as I said, at the time I'd have thought so too, but today we more experience with TDD we know it's not a good path.

[2016-11-01 22:59] plribeiro3000 commented on #198
So is basically just a design issue, right? It sound dumb but i just want to make sure we are ate the same page since initially i wrongly thought it had a bug for some reason.

[2016-11-01 23:02] gildub commented on #198
@plribeiro3000, oh I see, yes it's a design issue. Other comments show that it's a good move. The questions that came up are about being backward compatibility and how we make it. So the change is not to remove Mock but untangle it from the source, make it on its own.

[2016-11-01 23:13] plribeiro3000 commented on #198
Nice. Thanks for the confirmation.

This is a design decision made a long time ago as you suggested and even that it might not be one of the greatest options today we need to have the end users in mind. So i wonder how they are using `fog` nowadays. 🤔

@geemus Can you please share some thoughts regarding this? Do you think it makes sense to move this since it might break features that are working

[2016-11-02 00:15] gildub commented on #198
@plribeiro3000,

First of thank you for following-up. I perfectly understand it's important to evaluate properly the needs.

To respond to your questions/comments:

 * Yes it does worth making the move (either now or through next major release if that's coming soon enough). For the same reason I've created this issue, Mock classes are in the way and not a standard practice. It's in the long term i

[2016-11-02 00:19] gildub commented on #199
This is not issue driven, it's a design question. Especially in the perspective of new major release coming as @plribeiro3000 mentioned in #198.

[2016-11-02 13:29] geemus commented on #198
I can understand how this would be cleaner from a design perspective and more clearly separate concerns. So from a purity perspective, it does seem right. That said, what we have technically works, so for me personally I don't feel a strong desire to put in the work to fix it. But I could support someone else who felt more strongly. I do worry that this would establish inconsistency between the di

[2016-11-02 13:33] geemus commented on #199
Got it, thanks for clarifying. I'm not yet sure I totally grok what the change would look like to support this, but am open to discussing in more depth. The challenge with a change like this seems like it would come in trying to maintain backwards compatibility and also ensuring all the existing services were ported in a timely fashion.

[2016-11-02 23:17] gildub commented on #198
@plribeiro3000, what's your take on this one then? Could you also provide more details about the new major release?

[2016-11-02 23:22] gildub commented on #199
Well I suppose if this is done as part of a new major release it would be understandable if it's not backward compatible.

[2016-11-22 11:13] gildub commented on #199
Would it be possible to get a Version 2 branch created?

@geemus

[2016-11-24 17:35] plribeiro3000 commented on #198
@gildub I agree with @geemus and i don't have spare time to work on this, even to only help reviewing so i'm not sure which path to follow now.

Regarding the major release @geemus is the one to give you more info. 😉

[2016-11-25 08:22] seanhandley commented on #198
I've actually found the mock request classes very useful when adding new OpenStack APIs lately because it gives me a place to put the example request/response code outlined in the OpenStack API documentation and see it alongside the real implementation.

I think the strength of this approach is borne out when you run your tests with *and* without `FOG_MOCK`. If it works with your mocks and with yo

[2016-11-29 16:00] geemus commented on #198
Yeah, I've certainly found it helpful in a lot of cases as well. But perhaps as @seanhandley suggests, this may be more a benefit to those of us developing the library (vs end-users). Maybe it is a question of cost/benefit at that point? ie how much value do we get and how much impact/cost does it push onto end users. I agree that it is unusual and perhaps questionable to have things structured th

[2016-12-06 16:45] geemus commented on #199
Yes, though I'm cautious to do so too early (lest it linger). I think a focus toward continuing to split things out for 2.0 is more than enough work at this point, without a refactor in addition. But I do want the code quality to improve over time.

[2016-12-09 10:11] gildub commented on #199
So what's the timeframe?

[2016-12-09 10:29] gildub commented on #198
Benefit
Better design to allow easier/faster evolution
More flexibility

Cost
Move the Mock classes (I insist we do not to remove them) is not an issue (per the initial PR about it).
Not doing it could cost the opposite of its advantages, less evolution, less flexibility

[2016-12-09 15:23] geemus commented on #198
@gildub hey, thanks for continuing to discuss this with us. I'm not sure what you mean about the cost of moving the mock class not being an issue? It seems like a good deal of somewhat error-prone work to get there, to me anyway. I do agree that it may be a less ideal design though.

[2016-12-09 15:24] geemus commented on #199
Great question. It may depend on buy-in. It would be hard, for instance, for you and I to do all of the necessary work to get this done. If we had some broader push that might be better. From my perspective, splitting out the various sub-libraries would also be the bigger win of things for the near term (and therefore what I would be most likely to push on in terms of progress). Does that make sen

[2016-12-14 06:11] gildub commented on #198
@geemus, what I meant by the cost not being an issue is, at least for the current version, Mock classed could be just moved to separate files.

[2016-12-15 16:36] geemus commented on #198
Ah, so you mean everything would still work as it does today. I guess my thought was just that the cost of doing all the moving is not nothing (though the risk should be pretty minimal, as you suggest).

[2016-12-20 07:28] gildub commented on #199
Sorry I'm not following you. Without a new branch, nothing can happen.

[2016-12-20 07:29] gildub commented on #198
I understand if the requirement for current version to have impact-less changes or no change at all.
And the other hand, a new major version could start with the mock classes being separate and even optional. Would that fit everyone?

[2016-12-21 03:21] gildub commented on #199
Sorry I'm not following you. Without a new branch, nothing can happen.

[2017-01-04 15:39] geemus commented on #198
Yeah, a new new version could certainly be an inflection point for this.

[2017-01-04 15:40] geemus commented on #199
Fair enough, sorry we seem to be talking around one-another. I think it may be easiest if you wanted to just work in a branch on a fork initially? That way you can have more complete control, instead of being blocked on me changing things for you.

[2017-01-24 06:26] gildub commented on #199
Sure. Thanks

[2017-01-24 06:26] gildub commented on #198
Happy new year! Fantastic. When do you think that could happen?

[2017-02-06 20:05] geemus commented on #198
@gildub great question. I don't have an explicit plan at this point (and unfortunately have been rather swamped with lots of other things).

[2017-02-12 17:39] svergeylen opened #202 "Gem::Ext::BuildError: ERROR: Failed to build gem native extension."

[2017-02-13 13:06] plribeiro3000 commented on #202
@svergeylen Fog does not have any native extensions itself.
Could you please provide the logs so i can take a look and figure out which dependency is causing this?

Thanks!

[2017-02-15 16:44] geemus commented on #202
Might be fog-xml (which uses nokogiri), otherwise I'm not aware of any likely culprits. Anyway, looks like there is a lack of detail here to proceed, so going to close, but feel free to comment/reopen.

[2017-02-15 16:44] #202 closed

[2017-02-17 12:29] svergeylen commented on #202
I deleted the content due to the fact it was not a fog-core issue, but was unable to delete it entirely ;-)

[2017-02-21 15:30] geemus commented on #202
@svergeylen got it, thanks for clarifying.

[2017-03-23 09:55] gildub opened #203 "mime/types gem needed in the core"
This is not a new issue [1],

meanwhile it definitely seems to make sense to have fog-core to tackle it and include the gem as discussed in [2].

[1] https://github.com/fog/fog-core/issues/177
[2] https://github.com/fog/fog-openstack/pull/196

[2017-03-23 15:38] icco commented on #203
As stated in #177, until Fog removes 1.9.3 as a supported ruby, we cannot.

The fog issue to follow for removing 1.9.3 support is fog/fog#3872

I'll leave this open as it is something we want to eventually do once fog 2.0 is released.

[2017-03-23 22:33] gildub commented on #203
@icco

Understand, we've to keep it that way until Ruby 1.9.3 is removed.
Hopefully this is about to happen soon enough.

[2017-04-24 21:43] icco opened #205 "Fix Travis for < 2.0"
As discovered in #204, travis is broken for ruby < 2.0, also we still haven't dropped <2.1 support until https://github.com/fog/fog/issues/3872 is closed.

[2017-04-28 19:48] BanzaiMan opened #206 "1.44.0 depends on xmlrpc"
https://github.com/fog/fog-core/blob/v1.44.0/fog-core.gemspec#L24

And it's breaking on Ruby < 2.3.

[code]

[code]

[2017-04-28 20:01] geemus commented on #206
@icco @plribeiro3000 @shaiguitar I believe we added this to try and fix travis? Any ideas on what we should adjust?

[2017-04-28 20:17] shaiguitar commented on #206
Hmm, the gemspec clearly isn't working well:
[code]

Let me try out an older version of ruby and install from local dir gemspec.

[2017-04-28 20:27] shaiguitar commented on #206
This does work locally for me:

[code]

[2017-04-28 20:32] BanzaiMan commented on #206
It fails for 2.2.5 as well for me.

[code]

Could you try installing it from rubygems.org?

[2017-04-28 20:33] BanzaiMan commented on #206
How did you get `fog-core-1.44.0.gem`?

[code]

[2017-04-28 20:34] shaiguitar commented on #206
What is the status of ruby versions and fog version support? It seems like there are compatibility matchups for the various versions. @icco mentioned #205 when #204 was released. It seems like travis has been broken for some time with respect to different ruby versions. The xmlrpc dep was removed from 2.4 as per https://bugs.ruby-lang.org/issues/12160 so it is necessary for ruby versions 2.4 and a

[2017-04-28 20:37] BanzaiMan commented on #206
`if RUBY_VERSION >= "2.4"` is respected at the time the gem is built. This is not evaluated at the install time. I suspect the gem uploaded was built with a Ruby that satisfies this requirement, thus adding the dependency.

[2017-04-28 20:39] BanzaiMan commented on #206
It is fine to add this `xmlrpc` dependency. I understand the reasoning. But it is appreciated if you could recognize this in `fog-core`'s gemspec as well.

[2017-04-28 20:39] shaiguitar commented on #206
Is there a correct way to build/upload to rubygems so this gets evaluated correctly? That line for xmlrpc was added in mimicking the other specific ruby dep constraints.

We can remove the xmlrpc dependency in gemspec right now in order to resolve these problems if there is no other way (better 2.4 not working than all previous versions) but ideally we can make the rubygem version upload work? @ge

[2017-04-29 15:23] majormoses commented on #206
@shaiguitar  http://www.programmersparadox.com/2012/05/21/gemspec-loading-dependent-gems-based-on-the-users-system feels like it should work for us though is kinda a hacky.

[2017-04-30 00:13] xbeta commented on #206
Can this be merge immediately? We are having the same issue.

[2017-04-30 00:56] shaiguitar commented on #206
The gemspec ruby version conditionals in there should be revisited in general. But if I could right now I would merge #207 (remove this dep) and release but do not have the rights.

[2017-04-30 01:21] majormoses commented on #206
@geemus any chance we can get this hotfixed and then implemented properly as outlined in https://github.com/fog/fog-core/issues/206#issuecomment-298175467?

[2017-05-01 00:43] Temikus commented on #206
CC/ @tokengeek @krames who also have the rights to push to fog-core. I, sadly, don't have access to push core to RubyGems.

[2017-05-01 13:42] geemus commented on #206
On it, sorry for delays, I hadn't seen how severe this was.

[2017-05-01 13:44] #206 closed

[2017-05-01 13:48] geemus commented on #206
I removed the dependency and released again. Not sure how much it's worth trying to do the hacky workaround or not (as we want to reduce/remove support for old stuff anyway). Maybe we should just accept and set some of those travis to allowed fails (or remove them). We had hoped to make it last until we could finish separation and do fog 2.0, but we could of course do 2.0 to drop old support and 3

[2017-05-09 15:09] beyhan opened #210 "TypeError with string options converted to integers in Fog OpenStack Storage"
The method `coerce_options` in [service.rb](https://github.com/fog/fog-core/blob/66779f501906816088dd9b206b6038b6a7f99769/lib/fog/core/service.rb#L161) converts string options containing numbers only into integer values.
This causes a problem together with OpenStack Storage Object when using a `openstack_temp_url_key` which contains only numbers.

When generating a temp [url](https://github.com/fo

[2017-05-09 15:47] plribeiro3000 commented on #210
Could you provide the input and expected output to better understand your issue?

[2017-05-10 07:52] beyhan commented on #210
The input `openstack_temp_url_key` is converted to an integer in the `coerce_options` method. This causes the `TypeError` in the `HMAC` class. Here is our code sample (to try the sample the temp URL key has to be set in OpenStack):

[code]

[2017-05-12 17:27] icco commented on #210
The issue is with this line: https://github.com/fog/fog-core/blob/f6ef6c3d9458bc235be57100acdced264e85e52a/lib/fog/core/service.rb#L166

[2017-05-15 15:22] geemus commented on #210
I think it originates from wanting to have typed values pulled out of the yaml `~/.fog` type files, probably for port numbers in particular. It's likely that we just never had an occasion such as this come up before. We could try removing it, but I suspect that some things may now expect it to be this way (which means stuff would break). A narrower change might be to try and only apply the convers

[2017-05-18 15:10] Kiemes commented on #210
@geemus fog-openstack library could ensure that it is a string here https://github.com/fog/fog-openstack/blob/4217d76368aa0c570b268e96a3cf21f760ccc967/lib/fog/storage/openstack/requests/get_object_https_url.rb#L56
[code]

wdyt?

[2017-05-18 15:22] geemus commented on #210
Sounds reasonable to me. Could you PR it for us? (and probably close this before we forget) Thanks!

[2017-05-24 21:14] lockstone opened #211 "couldn't find HOME environment -- expanding `~' (ArgumentError)"
[This commit](https://github.com/fog/fog-core/commit/29cc165afd4f398a41633edc09b2b178dd85602f) really messed things up for us. Any chance we can get a reversal?

[code]

[2017-05-25 14:07] geemus commented on #211
@lockstone  I think it should be fixed and released in v1.44.3, sorry for the breakage!

[2017-05-25 14:08] #211 closed

[2017-05-25 15:30] lockstone commented on #211
Thanks for the quick turnaround!

[2017-06-10 17:48] majormoses opened #212 "Conditionally install `xmlrpc` on ruby versions >= 2.4"
## Background:
- https://bugs.ruby-lang.org/issues/12160
- https://github.com/ruby/xmlrpc

Basically `xmlrpc` was removed from stdlib due to lack of maintainer responsiveness. Unfortunately due to the way ruby + rubygems works this is not as simple a problem as we saw caused here: #206 .

## The solution
There is one way of working around this that I am ware of, by using a ruby extension. In anoth

[2017-06-14 14:22] geemus commented on #212
Thanks for the detailed report. The only usage I'm seeing in fog-core is in a test (and I didn't see any usage in fog/fog either). So, I think to simplify for this context I'm just going to drop that one test. I don't see it in the major providers and don't recall where it was introduced from exactly. I'll keep this in mind should that not work out and/or if I figure out which provider actually ne

[2017-06-14 14:22] #212 closed

[2017-06-26 02:00] PikachuEXE opened #213 "Too many opened files"
Redirected from https://github.com/AssetSync/asset_sync/issues/348

In short the code at
https://github.com/AssetSync/asset_sync/blob/v2.1.0/lib/asset_sync/storage.rb#L125
Just open the file without closing it which is causing the issue

What else can be used for the `body` option in order to prevent too many opened file?

I think it's using `File.open` due to the example here:
http://fog.io/stora

[2017-06-26 12:53] icco commented on #213
Could you do File.read? Or assign file.open to something, pass that in, and then close after the fog call.

[2017-06-26 20:51] geemus commented on #213
I think `File.open` would be preferable to `File.read`, as then it can read just one chunk at a time (instead of potentially reading many GB into memory). As the opens happen in assetsync and upload is asynchronous, I think the best bet would be assign the file handle to a variable and call close on it after the upload completes. That should get you what you need I think, but do let us know if you

[2017-06-26 20:51] #213 closed

[2017-07-04 03:34] PikachuEXE commented on #213
It might be also good to update the example?
Or add some tips after it

[2017-07-05 15:42] geemus commented on #213
Certainly, would you be willing to help us flesh that out and clarify? Thanks!

[2017-07-13 05:50] PikachuEXE commented on #213
I am not quite sure where to submit changes to that web page...

[2017-07-25 19:40] geemus commented on #213
@PikachuEXE fair enough. Maybe just submit an issue on the assetsync repo and refer to this discussion?

[2017-08-08 18:06] seanhandley opened #215 "Log all requests to a specific IO location (i.e a file)"
I have a Rails app that makes extensive use of fog-openstack. Is there a way via fog-core or excon to configure debug output to save directly to a file?

Ideally I want to pipe the Excon request debug output into a piece of code that can extract meaningful data from it and log to a separate file.

Any thoughts/advice appreciated!

[2017-08-08 18:30] icco commented on #215
Yeah, in your configuration, you can use https://github.com/fog/fog-core/blob/f6ef6c3d9458bc235be57100acdced264e85e52a/lib/fog/core/logger.rb#L14 to override.

Something like this:

[code]

[2017-08-08 20:03] seanhandley commented on #215
Thanks @icco - I couldn't get that to work. But the Excon instrumentor stuff is working fine now 👍

https://github.com/excon/excon#instrumentation

[2017-08-08 20:03] #215 closed

[2017-08-10 14:37] geemus commented on #215
Great, glad to hear you found a way to make it work for you.

On Tue, Aug 8, 2017 at 3:03 PM, Sean Handley <notifications@github.com>
wrote:

[2017-08-28 22:25] #210 closed

[2017-09-26 13:30] joshuabach opened #216 "Model::reload does not update associations"
When calling `.reload` on a model `Foo`, the attributes are updated, but the associations remain the same, even if `Foo.get` `load`ed new elements in an association.

[2017-10-03 14:47] joshuabach commented on #216
Fixed with #218. See also the discussion at #217

[2017-10-03 14:47] #216 closed

[2017-10-27 12:48] #167 closed

[2017-10-27 14:46] geemus commented on #167
@plribeiro3000 cool, thanks for catching that.

[2017-11-01 07:19] syguer commented on #203
It has begun https://github.com/fog/fog/pull/3974

[2017-12-19 08:02] bilal-naeem-confiz opened #222 "New Release"
Hi,
I am working on `fog-azure-rm` and have been running into a `mime-types` dependency issue which has now been fixed in `fog-core`.
I wanted to ask when will a new version of `fog-core` be released so that we can include it in our gemspec and remove the current dependency that we have added for `mime-types`.
Thanks

[2018-01-03 15:24] geemus commented on #222
Sorry for the delay (was traveling around holidays). I've now released as 2.0.0 (as dropping 1.9 is potentially breaking). Just let me know if you need anything else, thanks!

[2018-01-04 06:19] bilal-naeem-confiz commented on #222
Thanks @geemus

[2018-01-04 06:19] #222 closed

[2018-02-25 13:47] plribeiro3000 commented on #203
@gildub Do you have some spare time to send a PR adding it?

Thanks!

[2018-02-25 13:50] plribeiro3000 commented on #205
This is not needed because we do not support `ruby < 2.0` anymore.

The build does not include it either:

https://github.com/fog/fog-core/blob/master/.travis.yml#L3-L9

[2018-02-25 13:50] #205 closed

[2018-02-25 14:08] plribeiro3000 commented on #198
Ok. Lets get back at this issue so we can move forward after we make a decision and draw a plan of work if needed.

Since the current implementation _works_, i believe the best way to decide it is to leave as is if we don't find good reasons to change it, of if we don't get to an agreement.

My points:

* `Mocking` is a great way to start developing a new app without worrying too much about doing

[2018-02-26 16:20] geemus commented on #198
Yeah, it is a pain. The original idea had been that, though it is a pain, we as the maintainers are more expert and can create more reasonable mocks than a new user would be able to. So I had thought it was worth the pain, but it may be worth revisiting that to see if things have changed enough to alter our approach.

[2018-02-27 14:33] geemus commented on #205
Thanks!

On Sun, Feb 25, 2018 at 7:50 AM, Paulo Henrique Lopes Ribeiro <
notifications@github.com> wrote:

[2018-02-27 14:45] geemus commented on #198
@gildub thanks for taking time to talk through this. Could you elaborate on your concern around a fork breaking free? Do you mean that it would be able to develop/move faster and we would fall behind (because working on mocks would slow us down too much)?

[2018-02-27 22:50] gildub commented on #198
@geemus, yes there is the Mock/Real *pain* structure which is cluttering the code and slows us down to re-factor when needed but not so much when adding new requests although that keeps making things worse.

Beyond that, as you know, there is the *service* issue https://github.com/fog/fog-core/blob/master/lib/fog/core/service.rb#L52. I was hoping v2.0 would have started addressing it including the

[2018-02-28 12:53] plribeiro3000 commented on #198
Maintainers of other providers should also chime in. This change will affect everyone so we need everyone aboard.

cc/ @fog/fog-google @fog/fog-aws @fog/fog-ovirt @fog/fog-vsphere

[2018-02-28 12:56] plribeiro3000 commented on #198
TL;DR

@gildub is proposing we drop the `Mock` feature entirely or push it to another gem because it is more of a burden to maintain than it helps (in his opinion).

I'm not sure how such change will affect the other providers so i would like to get an idea of it if possible thus why i summoned more people here.

[2018-02-28 15:16] geemus commented on #198
@gildub thanks for continuing to talk through this with us.

To clarify, you say that it slows down refactoring, while not impacting new requests. Is this because when we change existing stuff we have to update/maintain the mocks at the same time? Perhaps we should consider having major updates use similar behavior to new requests (ie MockNotImplemented), with the expectation that others can come

[2018-03-01 00:33] gildub commented on #198
@plribeiro3000, I acknowledged several times already that I understand keeping the feature is important. Although I don't use it and I was initially keen to put it on the side. The idea has evolved to work on a re-factor to relocate it to it's own name space in order to provide more flexibility (I'm not talking about gem, that's another discussion if it makes sense later).

@geemus, as you said th

[2018-03-01 01:19] gildub commented on #198
I've reverted https://github.com/fog/fog-openstack/pull/223 with https://github.com/fog/fog-openstack/pull/376/files since we effectively need proper work on the base for this to eventually happen.

[2018-03-01 15:04] geemus commented on #198
@gildub thanks for your understanding. I'm definitely willing to discuss refactoring and support efforts around what we end up deciding, but it's harder for me to say I'd have a lot of time to do the implementation of such changes these days. I'd be happy to assist in others making changes toward better abstractions though.

[2018-03-01 22:57] gildub commented on #198
@geemus, @Temikus and @plribeiro3000 ,

First off, thank you for your participation.

[2018-03-02 00:48] plribeiro3000 commented on #198
@gildub I'm in to do the refactor. We have several `providers` without an active maintainer that does not have any `Mock` at all.

If we get a 👍 from at least one of the major `providers` i can do all the work in the smaller ones plus the deprecation on `fog-core` initially.

@gildub Thanks for your understanding here.

[2018-03-07 10:53] elconas opened #226 "Fix :paranoid deprecation in net-ssh"
When using :paranoid with net-ssh 4.2.0 the following deprecation warning is printed, which is annoing.

[code]

[2018-03-07 11:01] elconas commented on #226
Fixed by https://github.com/fog/fog-core/pull/227

[2018-03-07 13:33] plribeiro3000 commented on #226
I believe the reason we support both is for users that are still using an old version of `net-ssh`.

If we are going this route, we need to bump our dependency to be `> 4.0` which might be a problem for other users. Maybe we can check the version of `net-ssh` and use the right key?

[2018-03-07 14:14] elconas commented on #226
But the fix should be backward compatible. I checked with the net.-ssh repo and the Constant I am accessing is there since 11 years. Right now the gem has no dependency to net-ssh at all I guess ?

[2018-03-07 15:10] geemus commented on #226
It looks like we passed `:verify_host_key` all along, so this is just no longer also passing `:paranoid`. Looks reasonable to me, thanks!

[2018-03-07 15:10] #226 closed

[2018-03-07 16:38] plribeiro3000 commented on #226
👍

[2018-03-08 13:22] plribeiro3000 commented on #198
@gildub I don't like the sound of `top-bottom` here. =)

I prefer to say that i depend on your contributions to keep `fog-openstack` going and that my main job is to help where i can and to make sure the whole structure don't fall apart.

In some cases this means i need to check if everyone involved before we start doing something and in some cases it means i need to coordinate with other maintain

[2018-03-08 13:24] plribeiro3000 commented on #198
@gildub By the way, we do use slack to communicate among us (maintainers). Would you be kind to drop me an email (`plribeiro3000@gmail.com`) so i can invite you over?

Thanks!

[2018-03-16 06:01] gildub commented on #198
@plribeiro3000, looking forward to it. Please use my email (`gilles@redhat.com`) although because of my time zone down under our overlap time is reduced.

[2018-03-16 12:36] plribeiro3000 commented on #198
Just invited you. =)

[2018-03-21 05:40] gildub commented on #203
@plribeiro3000, a PR to do what? Sorry but I'm losing track here, PR#221 has addressed the missing dependency isn't ?

[2018-03-21 12:06] plribeiro3000 commented on #203
Yeap. Not sure what I was thinking. Heheh

Thanks @gildub!

[2018-03-21 12:06] #203 closed

[2018-04-25 13:14] lhellebr opened #234 "NameError: uninitialized constant Fog::JSON"
When using Foreman with Fog and Fog-oVirt (Create Host -> select oVirt -> OS -> Image Based), I get the attached traceback.
[tb.txt](https://github.com/fog/fog-core/files/1947120/tb.txt)

Related: https://github.com/fog/fog-ovirt/issues/19 , https://github.com/fog/fog/issues/3993

[2018-04-26 15:58] geemus commented on #234
closing in favor of fog/fog-ovirt#20

[2018-04-26 15:58] #234 closed

[2018-05-08 08:04] miha-plesko opened #235 "Avoid tones of warnings"
We're getting tones of warnings when using fog with `bundle exec ruby -w ./demo.rb`, saying:

[code]

Looking at [how `attribute` utility works](https://github.com/fog/fog-core/blob/master/lib/fog/core/attributes/integer.rb#L9-L13) it seems like fog core redefines all the setters everytime we invoke it.

Q: Shouldn't fog core check if method already exists and only define setter if it doesn't exis

[2018-05-08 15:16] plribeiro3000 commented on #235
Hmm. What you suggest is a possibility but i wonder where are those methods being defined again. All attributes are supposed to be defined by `fog` so it does all the necessary logic.

Can you provide more info? Like which provider and methods did trigger this issue?

Thanks!

[2018-05-08 16:03] plribeiro3000 commented on #235
@miha-plesko I did take a look at `xlab-si/fog-vcloud-director` and it does seem that you are manually overwritting methods defined by `fog`.

I believe your issue is related to methods like [this](https://github.com/xlab-si/fog-vcloud-director/blob/bc58d09d4512ff243429a7249999f5bac16323be/lib/fog/vcloud_director/models/compute/disk.rb#L20-L31). You've defined a method setter using `fog` DSL and l

[2018-05-08 18:48] miha-plesko commented on #235
Thanks for reply @plribeiro3000 . You are correct, methods like the one you linked did result in such warnings, but we managed to resolve it by manually removing the setter method prior creating it, see [here](https://github.com/xlab-si/fog-vcloud-director/blob/bc58d09d4512ff243429a7249999f5bac16323be/lib/fog/vcloud_director/models/compute/disk.rb#L18) for example.

However, even having such cases

[2018-05-08 19:50] plribeiro3000 commented on #235
Well, thats because `fog-openstack` is doing the same thing.
See the DSL definition [here](https://github.com/fog/fog-openstack/blob/master/lib/fog/compute/openstack/models/server.rb#L15) and the method definition [here](https://github.com/fog/fog-openstack/blob/606d3f0bf78e85121dd86c565518b129863ba363/lib/fog/compute/openstack/models/server.rb#L75-L87)

Thats the first warning i saw in your backt

[2018-06-18 05:06] gildub opened #236 "Fog::Mode.reload behaviour has changed!"
The following used to work with fog-core 1.40:

https://github.com/fog/fog-openstack/blob/master/spec/image_v2_spec.rb#L142
https://github.com/fog/fog-openstack/blob/master/spec/network_spec.rb#L40

The issue seems to be that new attributes are not merged properly.

One work around:
[code]

[2018-06-18 13:42] geemus commented on #236
Hmm. I would expect it still to work, at least in that we haven't really seen other reports around this.

I believe that:

`merge_attributes(object.all_associations_and_attributes)`

Should be equivalent to the two merge actions listed there, so I'm not sure where the discrepancy is sneaking in. @plribeiro3000 any chance you see something I'm missing? Thanks!

[2018-06-18 15:49] plribeiro3000 commented on #236
I would expect the same @geemus

For what i can see in the report, manually calling one after the other (`attributes` and `all_associations`) works but not the method the returns both (`all_associations_and_attributes`).

I will take a look and see what i can find.

[2018-06-18 16:17] plribeiro3000 commented on #236
`all_associations_and_attributes` just do a merge on both hashes:

[code]

And looking at the actual implementation of `reload`:

[code]

and the workaround by @gildub i believe it is related to how `all_attributes` and `all_associations` works.

[code]

The just call the method definitions without any type of cache so i believe it can only be related to the method setter and getter.

If we look a

[2018-06-20 13:41] gildub commented on #236
@plribeiro3000, I tried without success to remove the methods you mentioned. More investigation will be needed.

[2018-06-21 00:48] gildub commented on #236
@plribeiro3000, BTW thanks for taking the time to investigate ;)

I fails the exact same way with 2.0.0
I works fine with 1.45.0
I've reversed to latter for now.

[2018-06-21 03:28] gildub commented on #236
@plribeiro3000, it fails only for the two models mentioned.
85cfeae what effectively the one introducing

[2018-07-04 16:21] plribeiro3000 commented on #236
@gildub Since is just for this two models, i believe they are the culprit.

Since i don't have enough knowledge of `fog-openstack` could you figure out the main difference between both and the other models?

[2018-07-16 07:25] Temikus opened #237 "Attribute aliases work only partially"
For example, we create a model with those attributes:
[code]

When created actually turns into proper model fields:
[code]

But when I try to call it:
[code]
It seems there is a bug - the alias mapping is only being done when doing a plain new object or reloading:

https://github.com/fog/fog-core/blob/7865ef77ea990fd0d085e49c28e15957b7ce0d2b/lib/fog/core/attributes.rb#L119

But the actual method s

[2018-07-16 16:29] plribeiro3000 commented on #237
I'm ok with doing a setter for the alias.

This is something i struggled myself in the past when working on `fog-xenserver`.

@geemus any thoughts?

[2018-07-23 18:11] geemus commented on #237
Sounds reasonable to me, thanks!

[2018-07-30 16:42] geemus commented on #92
Would be happy to support this work, but probably don't have time to do it myself. Given the lack of activity, it also doesn't seem like there is particularly high demand at this time.

[2018-07-30 16:42] #92 closed

[2018-07-30 16:49] geemus commented on #129
Willing to support, if needed, but doesn't look like there is much interest at present.

[2018-07-30 16:49] #129 closed

[2018-07-30 16:50] geemus commented on #178
Marked issue was merged.

[2018-07-30 16:50] #178 closed

[2018-07-30 16:53] #89 closed

[2018-07-30 17:47] geemus commented on #94
Still open to supporting, but hasn't been crucial enough to drive effort so far.

[2018-07-30 17:47] #94 closed

[2018-08-06 15:44] #5 closed

[2018-08-06 15:44] #19 closed

[2018-08-06 15:44] #22 closed

[2018-08-06 15:44] #16 closed

[2018-08-06 15:44] #188 closed

[2018-08-06 15:44] #191 closed

[2018-08-06 15:44] #199 closed

[2018-08-06 15:44] #198 closed

[2018-08-06 15:44] #235 closed

[2018-08-07 11:41] aheumaier commented on #222
@geemus  Seems this topic has to be re-discussed
https://github.com/fog/fog-azure-rm/issues/390

[2018-08-09 15:26] geemus commented on #222
@aheumaier thanks for the heads up.

[2018-08-20 05:48] gildub commented on #236
@plribeiro3000,

The "Image" model class is calling 'lib/fog/core/model.rb' directly, so there is nothing in between.

Actually I've found that  https://github.com/fog/fog-core/blob/master/lib/fog/core/attributes.rb#L80 is not returning the attributes that have been created dynamically.

For a given instance of Image:
[code]

[code]

`#all_attributes` is missing fields such as :reloadable_property

[2018-08-20 21:24] plribeiro3000 commented on #236
Hmm. We are getting somewhere now.

So the problem isn't necessarily with `#all_attributes` but with the hash being different of the original one.

Can we get the api result for the last call on `#all_attributes`?

I wonder if the data being result is exactly like the one you had previously.

[2018-08-20 21:27] plribeiro3000 commented on #236
Actually, i just notice something. You don't have `reloadable_property` neither `schema` defined as attributes [here](https://github.com/fog/fog-openstack/blob/236d5667040903bb12118c89a4d78e65c6c5878f/lib/fog/image/openstack/v2/models/image.rb#L8-L42)

[2018-08-20 21:30] plribeiro3000 commented on #236
And you are setting `reloadable_property` manually here, thus why you have different hashes.

[2018-08-20 21:30] plribeiro3000 commented on #236
It all makes sense now. Your test needs a fix or either the model needs some attributes defined.

[2018-08-20 23:29] gildub commented on #236
@plribeiro3000, yes some of those attributes are created dynamically and maybe for the purpose of testing but I'm not 100% sure if it's the only case (I didn't implement it).

So from that my question is: Do 'attributes' have to be declared as such?

Because before fog-core 2.0.0 then didn't have to, at least from the following piece of code:
https://github.com/fog/fog-openstack/blob/236d566704090

[2018-08-21 13:49] plribeiro3000 commented on #236
Yes. Every attribute should be declared using the DSL.

I'm not sure why it was working previously and does not work now but i believe it is related.

If we do go over the `attribute` DSL:

[code]

It does more then just define a setter. You can typecast its value like:

[code]

[2018-08-21 13:57] plribeiro3000 commented on #236
Ok. I got it now.

The problem is indeed because the attribute is not defined using the DSL.

With the inclusion of the `mask` feature, we did break it for providers that are not using the DSL.

See:

[code]

So when no mask is defined using the `as` option, the mask is defaulted to the attribute itself.

Then on `Fog::Model` it does use the masks without checking if it does exists because it does

[2018-08-21 13:58] plribeiro3000 commented on #236
Hmmmm, another options would be to add the fix on `fog-core` and add a deprecation notice in case it happens. That would be an easy fix for now with a notice for every provider not using the DSL to change it.

What do you guys think?

@geemus @gildub

[2018-08-22 14:50] plribeiro3000 commented on #236
Something like:

[code]

[2018-08-22 15:02] geemus commented on #236
@plribeiro3000 got it, that clarifies a ton, thanks! Sounds good to me. Thanks for talking through this.

[2018-08-28 08:35] gildub commented on #236
@plribeiro3000, that's great. Thanks

[2018-09-03 18:53] plribeiro3000 commented on #236
@geemus Could you release a fix please?

[2018-09-04 14:37] geemus commented on #236
released as v2.1.1

[2018-09-07 09:39] tokengeek opened #242 "Deprecation check breaks code and does not catch deprecation"
With the release of v2.1.1 we've started to see things break in our clients.

I've fixed the immediate issues but there are a few things to consider.

In https://github.com/fog/fog-core/pull/229 the behaviour of `Fog::Core::Provider#service` was changed to output a deprecation warning when the `Fog::<Service>::<Provider>` namespace was used.

However, the `#service_klass` method uses `eval` and ca

[2018-09-07 09:42] tokengeek commented on #242
I have been working on a v1.0 release of `fog-brightbox` which fixes the namespace issue since it is potentially a breaking change but these issues may already be affecting other providers/users so I think it is something to address in core.

[2018-09-07 16:20] geemus commented on #242
Thanks for the heads up and detailed explanation. @plribeiro3000 worked on this, so can probably give the most context to discuss and move this forward. Thanks!

[2018-09-10 16:12] plribeiro3000 commented on #236
Ok. I think this sounds like another misuse of the DSL.

You are defining the attribute `subnets` [here](https://github.com/fog/fog-openstack/blob/master/lib/fog/network/openstack/models/network.rb#L10):
[code]

But then you are overwriting the getter defined by the DSL [here](https://github.com/fog/fog-openstack/blob/master/lib/fog/network/openstack/models/network.rb#L20-L22):
[code]

Since `all_

[2018-09-10 16:13] #236 closed

[2018-09-10 16:44] tokengeek commented on #242
It looks like there may still be an ordering issue. I've just noticed https://github.com/fog/fog-brightbox/blob/master/lib/fog/brightbox.rb#L35-L36 are happening before the legacy namespaces.

In fog-aws they were listed first, followed by `Fog::AWS` and the autoloads _then_ the `service` calls.

In which case I may be able to fix our issues but it means each provider may need checking.

I'll try

[2018-09-10 16:45] plribeiro3000 commented on #242
Ouch. I get it. The problem is that it was defined in both ways because of other modules from within.

I guess we should define those modules from within another file and just define the main modules inside the main file?

[2018-09-10 16:47] plribeiro3000 commented on #242
No, The main issue is that there is both namespaces defined. All of the models and requests are inside `Fog::Compute::Brightbox` but some config files are defined insice `Fog::Brightbox::Compute`.

[2018-09-10 16:52] plribeiro3000 commented on #242
I believe you next release `1.0.0` might fix the issue.

Looking back at [release 0.7.2](https://github.com/fog/fog-brightbox/commit/386cd70e67827cf7157eedf42e7520af08ec4a54) there were both namespaces defined and it went carried away.

`Fog::Compute::Brightbox` was defined [here](https://github.com/fog/fog-brightbox/blob/386cd70e67827cf7157eedf42e7520af08ec4a54/lib/fog/brightbox/compute.rb) and
`

[2018-09-10 16:56] tokengeek commented on #242
Yes. I mentioned that in the original report. By having both schemes we are suppressing the deprecation warning whilst we are transitioning in `1.0.0`

If we want to report the deprecation `Fog::Compute::Brightbox` is being used, then the check done by `#service` needs to happen at the correct time, which would be after things are defined.

But I think we should be warning if it is defined rather

[2018-09-10 16:59] plribeiro3000 commented on #242
Gotcha @tokengeek . Thanks for the explanation.

[2018-09-11 13:36] plribeiro3000 commented on #242
@kddeisz Yeap. Switch all your definitions to be under `Fog::Local`. Thats the preferable method from now on.

`Fog::Compute`, `Fog::Storage`, `Fog::XXXXXX` are all deprecated in favor of `Fog::Provider::Compute`, `Fog::Provider::Storage`, `Fog::Provider::XXXXXX`.

[2018-09-13 00:53] gildub opened #244 "fog-core 2+ behavior change"
This is happening in line:
https://github.com/fog/fog-openstack/blob/master/spec/network_spec.rb#L56

fog-core 1.45.0:
Existing behavior in line:
https://github.com/fog/fog-core/blob/v1.45.0/lib/fog/core/model.rb#L56
Where new_attributes returns:

[code]

fog-core 2.1.2:
Different behavior of object.all_associations_and_attributes in line:
https://github.com/fog/fog-core/blob/master/lib/fog/core/m

[2018-09-13 00:53] gildub commented on #236
@plribeiro3000, thanks for looking into this legacy code. I've created  https://github.com/fog/fog-core/issues/244

[2018-09-13 11:36] plribeiro3000 commented on #236
@gildub 👍

[2018-09-13 11:40] plribeiro3000 commented on #244
I believe the main issue here is that you defined `subnets` as an attribute but it is actually an association.
I've faced this problem in the past where i needed to load the association but Fog's DSL could not help on that so we had to overwrite the setter os the getter or both.
To fix it i've introduced the concept of `associations` in Fog.

I believe an easy fix for you here would be to remove t

[2018-09-14 00:57] gildub commented on #244
@plribeiro3000, I wish I was the one who wrote that ;)

Seriously, I'm happy to remove the getter attribute. The associations sounds good but I leave that for later.

Thank you very much for you help as fog openstack is now ready to use fog-core 2+. Although there is some refactor work to be done to align properly with it and remove all the warnings/deprecation messages.

[2018-09-14 00:57] #244 closed

[2018-09-17 14:02] geemus commented on #244
Thanks to both of you for continuing to work on this!

[2018-09-22 06:30] plribeiro3000 commented on #237
Leave it open!

Em sex, 21 de set de 2018 15:37, stale[bot] <notifications@github.com>
escreveu:

[2018-10-19 14:47] stephanebruckert opened #246 "Use `fog-core`'s proxy option through the `fog-aws` gem?"
Hello,

I saw that this repo has a proxy option which is interesting to me. https://github.com/fog/fog-core/blob/master/lib/fog/core/connection.rb#L42

    # @option params [String] :proxy Proxy server; e.g. 'http://myproxy.com:8888'

However I am using [`fog-aws`](https://github.com/fog/fog-aws) `@client ||= Fog::Storage::AWS.new(...)` and it doesn't seem to use `fog-core`'s proxy option. I am wo

[2018-10-19 20:52] stephanebruckert commented on #246
Fixed as answered here https://github.com/fog/fog-aws/issues/486#issuecomment-431495438, thanks!

[2018-10-19 20:52] #246 closed

[2018-11-17 16:58] #242 closed

[2019-01-31 10:50] vadimstroganov opened #247 "JSON::ParserError"
Hello! I use gem activestorage-openstack for Rails ActiveStorage, and have a problem (https://github.com/chaadow/activestorage-openstack/issues/25)

If I specify parameters that consist only of digits, I get an error:
[code]
I found a line that creates this problem:

https://github.com/fog/fog-core/blob/master/lib/fog/core/service.rb#L166

Why is it necessary?

Trace:
[code]

[2019-01-31 11:43] tokengeek commented on #247
I seem to recall this being spotted before but I can't find an issue across all the fog projects.

As the name `coerce_options` suggests it takes a Hash and converts all the values to underlying Ruby types. So a username that is only numbers is converted to a number.

So that is working as intended in case a configuration setting was a number (retries, ram required or similar numbers).

I think a

[2019-01-31 12:08] vadimstroganov commented on #247
I played around with debugger a bit and saw that the JSON::ParserError error is called after calling the authentication OpenStack API. If an number rather than a string is sent to the OpenStack API, the response body becomes an empty string.

Here response.body = "", this causes an error
https://github.com/fog/fog-openstack/blob/master/lib/fog/openstack/auth/token/v3.rb#L58

[2019-01-31 14:44] #247 closed

[2019-02-11 15:36] Paxa opened #248 "Print error message when loading provider"
If provider have some error `LoadError` or `NameError` then it just print `XXX has no YYY service`.
But provider can be found but there is error while loading it, e.g. missing some other dependency or dependency's code changed

Also hard to develop a provider...

We can change error message here
https://github.com/fog/fog-core/blob/adffc543c71e5db7aefaf70e2520c9a7bc968cb7/lib/fog/core/services_mix

[2019-02-13 01:30] Temikus commented on #237
Reopening and pinning to deactivate stalebot as this looks like something @plribeiro3000 is working on.

If not - no worries, just close out.

[2019-02-13 18:32] geemus commented on #248
Thanks for the detailed report, I'm certainly open to improving messages. Something like your proposal sounds like a good first pass at this. Would you be willing to work it into a pull request for us? Thanks!

[2019-02-13 18:33] geemus commented on #237
Sounds good, thanks!

[2019-02-13 18:41] plribeiro3000 commented on #237
@Temikus Not really working on this now but i would leave it open since it looks like something we should tackle.

[2019-04-18 11:55] masayag opened #250 "Attribute defaults return the same object"
Having a Fog::Model that contains an attribute with default, i.e.[1]:
[code]
When instantiating instances of the class, all of the attributes that have defaults get the same object as the default:
[code]
So when updating one Server.networks attribute, all of the other server instances are being affected by that, since all reference to same object.

Is this a special trait of `:default` and expecte

[2019-04-18 12:18] plribeiro3000 commented on #250
Since the `attribute` method is a class definition we are storing all the DSL options on instance variables on the class itself so it is an expected behaviour.

Is this a problem for `fog-kubevirt`?

I was looking into the class you linked and it got me curious. Why are you defining a model as a Module?

[2019-04-18 12:58] masayag commented on #250
Yes, but I can simply overcome this by not using the defaults.
If we have a collection, i.e. networks for a Server model, I wouldn't expect all of the Server instances will be sharing the same networks array, rather each Server instance will have its own copy of the networks array.

Since this is by design, this issue can be closed.

We first developed the Fog::Model::Vm, as a class/model (that wa

[2019-04-18 13:20] geemus commented on #250
Yeah, I think in our usage, having the same object hasn't really been an issue or concern.

[2019-04-18 13:20] #250 closed

[2019-04-21 19:49] #248 closed

[2019-12-23 16:02] militarpancho opened #251 "verify_host_key: false is deprecated, use :never"
Hi, I see this error always I use Fog::SSH...maybe it could be convenient to change the code of ssh.rb to use the :never mentioned in the warning, don't it?

[2019-12-24 14:22] sshaw opened #252 "Showing Source Location Depreciation Warnings"
Hi, after upgrading to the new Fog paradigm I'm getting a ton of warnings:

The problem I'm having is identifying _where_ these warnings are coming from.

After some cursory silver searching, it appears that they're coming from some gems.

Given some of the common Fog use cases, e.g., via Paperclip, CarrierWave, etc.., where one never uses `Fog::Rackspace::CDN` but rather something like `x.credent

[2019-12-28 01:33] geemus commented on #251
Hey, thanks for the heads up. Yeah, I think that makes sense to update. Looking at the code, it appears that we already had to make a similar change when the option prior to verify_host_key also changed (and it has some code in place to be cautious about changing the options for people who might be using old versions of net-ssh). Would you be open to working on a patch? I'm not actively doing anyt

[2019-12-28 01:39] geemus commented on #252
Sure, that makes sense. Would you be interested in helping with a patch to provide some more context? Thanks!

[2020-01-16 16:15] #251 closed

[2020-03-05 06:08] #252 closed

[2020-06-02 18:14] plribeiro3000 commented on #237
@Temikus Is this something you guys still need?

I will try to find some spare time to tackle this.

[2020-08-13 08:42] drKreso commented on #159
What is the benefit of being so flexible with config naming? Also eating exceptions is obfuscating the problem.
[code]

[2020-08-16 14:27] geemus commented on #159
@drKreso It's been a while since I've worked on this particular area, so my memory may be a bit fuzzy. I think it is flexible partly due to the wide variety of config used across different providers, partly to support different use cases, and partly for ongoing backwards compatibility. It also looks like this particular issue was from several years ago. Are you having a new particular issue that I

[2020-09-14 21:39] plribeiro3000 opened #257 "Release Hotfix"
@geemus could you please release a hotfix?

There is 2 bugfixes on master since `2.2.0` and one of them is blocking fog/fog-internet-archive#2

[2020-09-15 13:55] geemus commented on #257
Sure thing, released in 2.2.1

[2020-09-15 13:55] #257 closed

[2020-09-15 16:46] plribeiro3000 commented on #257
Awesome. Thanks!

[2021-06-02 10:13] lzap opened #266 "IRC channel"
Hey,

the advertised IRC channel is quite empty, specifically, there's only `sbryant` there. I also checked libera, but after the freenode clusterfuck I wonder if the community moved somewhere else. The fog.io site still advertise freenode.

Cheers

[2021-06-02 10:25] lzap opened #267 "Minimum supported Ruby version"
Hello,

I would like to improve tests of fog-libvirt, however I see that Ruby 2.0 - 2.7 is in the CI matrix. Fog site says supported Ruby versions are 2.0 or higher. These are no longer supported versions, can you guys confirm what is official?

https://www.ruby-lang.org/en/downloads/branches/

While many of upstream versions are EOL, I think keeping support for old versions is a welcome change. F

[2021-06-02 10:39] ekohl commented on #267
Debian oldstable (Stretch) ships with Ruby 2.3 with Debian stable (Buster) ships with 2.5. I'd at least target 2.3+ but strongly consider 2.5+ given where the rest of the Ruby ecosystem is heading.

[2021-06-02 10:47] lzap commented on #267
Yeah, one more thing to consider is to use the modern Rubocop, it requires Ruby 2.4+ so if we decide to bump the minimum version 2.4+ would be a good option.

[2021-06-02 11:13] ekohl commented on #267
While that's a good point, I'd still recommend going a step further and go for 2.5+. It has a few more syntax updates and both Debian and Ubuntu ship it in stable releases. EL8 also defaults to Ruby 2.5. I'm not aware of platforms with Ruby 2.4.

[2021-06-02 15:22] geemus commented on #266
Good questions. The activity dropped off quite some time ago, and the freenode stuff doesn't help. I'm fine removing those references/advertisements to better reflect reality. It doesn't seem like there has been a need for something of this ilk in a while, and we can add something back if/when needed. Does that make sense for you?

[2021-06-02 15:28] geemus commented on #267
Yes, I think probably either 2.4+ or 2.5+ makes good sense at this point. I was leaning toward 2.5+ for things (ie in the github actions config for ruby ci: https://github.com/fog/.github/blob/main/workflow-templates/ruby.yml). It's still a work in progress to make that consistent across all the repos though, and I had forgotten about the website version specification.

So, I think moving toward 2

[2021-06-03 12:39] lzap commented on #266
That is fine, I think github is allright. Issues can be used for discussions like this one. Cheers.

[2021-06-03 12:39] #266 closed

[2021-06-03 13:44] geemus commented on #266
I removed/updated references here: https://github.com/fog/fog.github.com/commit/682c4f8a8732cc0cd4122990b221e7470e97f95f

Feel free to offer PRs on the website also if you see issues (and/or file issues directly on the repo).

[2021-06-03 13:46] geemus commented on #267
I took a quick stab at updating the website to match this (it was just really out of date, rather than really being intentional): https://github.com/fog/fog.github.com/commit/57d766e23166c960dcc66bf4d60c3557230414b8

[2021-06-03 13:46] #267 closed

[2021-06-03 13:52] lzap commented on #267
Great, thanks. I am bumping test matrix and gemspec requirement then: https://github.com/fog/fog/pull/4038

[2021-08-04 14:27] pablomh opened #270 "SFTP support"
I'd like to request support for SFTP similar to the one provided fot SCP protocol.

[2021-08-04 18:53] plribeiro3000 commented on #270
@pablomh We have a list of providers to add next. You can see them here: fog/fog#3644

Since we have FTP, FTPS and SFTP i believe it would be a better fit to have it as a new provider but i can easily see it as a new service here.

@geemus WDYT?

[2021-08-04 19:09] pablomh commented on #270
I may try to port it based on the SCP one, but it'll be my first ruby code, so I don't promise anything :)

[2021-08-04 22:05] plribeiro3000 commented on #270
@pablomh Cool! Let me know if i can help with something.

[2021-08-05 11:55] geemus commented on #270
Hey, yes I think setting it up as a distinct provider sounds like a good plan. If you have time and interest to work on it that would be great. Definitely happy to answer questions and review things as you progress.

[2021-10-12 02:12] #270 closed

[2022-02-04 17:18] sethboyles opened #276 "Compatibility issues between provider gems"
(This is spun out of a discussion started [here](https://github.com/cloudfoundry/cloud_controller_ng/issues/2647))

Some provider gems are not being very actively maintained, and there does not a coordinated effort to ensure inter-compatibility between the various provider gems.  As a result it can be very difficult (or impossible) to upgrade to the latest provider versions, because other gems mig

[2022-02-04 22:23] geemus commented on #276
Thanks for the context and examples. I'm certainly open to supporting and helping coordinate. That being said, I'm not actively using any of the gems myself any more, so there are some limits to how much access/setup I have for testing and things of that sort.

One thing I think we all agreed on in the originally linked issue is that it would be good to have better visibility into what subset of g

[2022-06-02 00:02] oakcask opened #277 "Fog::Collection doesn't fetch while converted by Kernel.Array method"
Hi.

I found out that Fog::Collection donsn't do `lazy_load` while being converted by `Kernel.Array` method that implicitly called by several Array methods.

For example, `Array#concat` converts its operand by `Array()` and Fog::Collection instance passed to `Array#concat` won't do `lazy_load` so an empty array will be concatinated.
This causes making `flat_map` (this internally uses `Array#concat

[2022-06-03 02:30] geemus commented on #277
Thanks for the detailed report.

No, I do not think that is intended/expected. You can see here how we attempted at least to replace default Array behaviors with the lazy_load followed by doing the normal array behavior (which seems to work for many, but as you point out not all of the methods): https://github.com/fog/fog-core/blob/e359e66ddd81e7b0811bc0ff00b133722fb49ef8/lib/fog/core/collection.r

[2022-06-03 04:50] oakcask commented on #277
Thanks geemus.

Frankly, I think the proper solution is making Fog::Collection an Enumerable, not inheriting Array.
Because it seems `Array()` doesn't convert an Array (or subclass of Array) by invoking `to_ary`.

Most Array methods are provided by Enumerable so this will work well in most cases I suppose.
On the other hand, it might cause some breaking changes due to difference from Array.

How d

[2022-06-09 01:35] geemus commented on #277
It's an interesting idea for sure. I suspect that might in fact be a cleaner solution, but I am definitely worried about breaking changes. Given how much usage there already is for this (and how few reports there seem to have been of this problem) it might be more trouble than it is worth, even if this solution might be better. Does that make sense? What do you think?